<template>
  <div class="page" v-cloak>

      <div class="layout">
        <div class="layout-head">
          <div class="container">
            <appHeader :noList="true" :noLogo="true"></appHeader>
          </div>
        </div>
        <div class="layout-content">
                <h1 class="title" >
              Wybierz sprawę, aby rozpocząć.
            </h1>
          <swiper :v-if="show" ref="swiper" :options="swiperOptions" class="slider"  @click.native="openLawCase">
          <swiper-slide  v-for="lawCase in lawCases"
            :key="lawCase.id">
              <appLawCaseShort :lawCase="lawCase" :quantity="lawCases.length" ></appLawCaseShort>
            </swiper-slide>

        </swiper>
        <div class="slider-footer">
          <div class="swiper-button-prev" slot="button-prev"></div>
          <div ref="currentSlide" class="current-slide"></div>
          <div class="swiper-pagination-cases" slot="pagination"></div>
          <div ref="allSlides" class="all-slide"></div>
          <div class="swiper-button-next" slot="button-next"></div>
        </div>
        </div>
      </div>

  </div>
</template>

<script>
import LawCaseShort from '~/components/LawCaseShort';
import Header from '~/components/Header';
import { Swiper, SwiperSlide, directive } from 'vue-awesome-swiper'
import 'swiper/css/swiper.css'

export default {
  components: {
    'appLawCaseShort': LawCaseShort,
    'appHeader': Header,
    Swiper,
    SwiperSlide,

  },
  directives: {
    swiper: directive
  },
  head: {
    bodyAttrs: {
      class: 'cases-page'
    }
  },
  data () {
    return {
      show: false,
      swiperOptions: {
          initialSlide: this.$store.getters.slideIndex,
          slidesPerView: 1.5,
          loop:true,
          spaceBetween: 30,
          centeredSlides: true,
          simulateTouch: false,
          pagination: {
              el: '.swiper-pagination-cases',
              clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev'
              },

          breakpoints: {
            1600: {
              slidesPerView: 2,
            },
            1230: {
              slidesPerView: 1.9,
              spaceBetween: 52,
            }
          }

        }
      } 
    },
    computed: {

    },
    methods: {
      openLawCase(event) {

          let isButton = event.target.classList.contains('cta')

          if (isButton) {
            let slider = this.$refs.swiper.$swiper;
            let lawCaseIndex = slider.activeIndex;
            let lawCaseDomIndex = slider.realIndex;
            let lawCaseId = slider.slides[lawCaseIndex].querySelector('.item').dataset.lawCaseId;


            this.$store.dispatch('setLawCaseId', lawCaseId)
            this.$store.dispatch('setSlideIndex', lawCaseDomIndex).then(() => {
              this.$router.push({path: "/law-cases/law-case/" + lawCaseId, params: {lawCaseId: lawCaseId}});
            })
          }

      },
      handleSwiperDOMClick(e) {
        const targetSlideIndex = Number(
          this.$refs.swiper.value?.clickedSlide?.dataset.swiperSlideIndex
        )

      }
    },
    asyncData(context) {
        return context.app.$axios.$get(process.env.apiUrl + '/lawCases')
        .then(result => {
            return {
                lawCases: result,
            }
        })
        .catch(e => context.error(e))
    },
    mounted(){
      let slider = this.$refs.swiper.$swiper;
    }

}
</script>

<style>
.swiper-pagination-cases {
  display: flex;
  align-items: center;
}
.swiper-pagination-cases .swiper-pagination-bullet {
    width: 26px;
    height: 2px;
    border-radius: 0;
    opacity: 1;
    background: rgba(255,255,255, .5);
    margin: 0 10px;
  }

  .swiper-pagination-cases .swiper-pagination-bullet-active {
    background: #196b9d;
  }

  
</style>

<style scoped>

.swiper-slide {
  height: auto;
}


  .swiper-button-prev, 
  .swiper-button-next {
    position: static; 
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    top: 0;
    transform: none;
    margin: 0 72px;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    box-shadow: 0 0 17px 0 rgba(0,0,0,0.09);
    outline: none;
    transition: 0.3s;
  }
  .swiper-button-prev:after, 
  .swiper-button-next:after {
    font-size: 22px;
  }

  .swiper-button-prev:hover, 
  .swiper-button-next:hover {
    background: #388AF7;
  }

  .swiper-button-prev:hover:after, 
  .swiper-button-next:hover:after {
    color: #fff;
  }

  h1 {
  width: 100%;
  color: #FFFFFF;
  font-family: "Open Sans";
  font-size: 1.979vw;
  font-weight: 700;
  line-height: 1.35;
  margin-bottom: 3.385vw;
  text-align: center;
}
.logo {
  margin-bottom: 133px;
}

.page {
    min-height: 100vh;
  }

  .swiper-pagination {
    position: static;
    
    display: inline-flex;
    align-items: center;
  }

  

  .slider {
    padding-bottom: 4.948vw;
    position: relative;
  }

  .slider .swiper-slide {
    opacity: 0.6;
    transition: 0.3s;
  }

  .slider .swiper-slide.swiper-slide-active {
    opacity: 1;
  }

  .slider-footer {
    position: relative;
    display: flex;
    height: 60px;
    justify-content: center;
  }

  @media (max-width: 1023px) {
    h1 {
      font-size: 3.325vw;
      margin-top: -50px;
    }

    .swiper-button-prev, 
    .swiper-button-next {
      display: none;
    }

    .slider-footer {
      margin-bottom: 0;
    }

    .slider {
      padding-bottom: 0
    }
  }

  @media (max-height: 750px) {
    h1 {
      margin-bottom: 1vw;
    }

    .slider {
      padding-bottom: 2vw;
    }

    .content-box .tag {
      margin-bottom: 1vw;
    }

    .content-box .category-desktop {
        font-size: 1.5vw;
        margin-bottom: 1vw;
    }

    .content-box .desc {
        margin-bottom: 1.5vw;
    }
  }

</style>
