@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?qccmo5');
  src:  url('icomoon.eot?qccmo5#iefix') format('embedded-opentype'),
    url('icomoon.ttf?qccmo5') format('truetype'),
    url('icomoon.woff?qccmo5') format('woff'),
    url('icomoon.svg?qccmo5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-icons-globe:before {
  content: "\e92a";
  color: #00aae3;
}
.icon-icon_close:before {
  content: "\e909";
  color: #ff3130;
}
.icon-long-arrow:before {
  content: "\e928";
  color: #39a7de;
}
.icon-nav:before {
  content: "\e927";
}
.icon-star:before {
  content: "\e922";
  color: #3aa7de;
}
.icon-game:before {
  content: "\e923";
  color: #27a9e0;
}
.icon-knowlage:before {
  content: "\e924";
  color: #27a9e0;
}
.icon-hammer:before {
  content: "\e921";
  color: #39a7de;
}
.icon-address:before {
  content: "\e91c";
  color: #39a7de;
}
.icon-email:before {
  content: "\e91d";
  color: #39a7de;
}
.icon-phone:before {
  content: "\e91e";
  color: #39a7de;
}
.icon-thumb .path1:before {
  content: "\e91f";
  color: rgb(58, 167, 222);
}
.icon-thumb .path2:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(37, 166, 221);
}
.icon-compare .path1:before {
  content: "\e913";
  color: rgb(38, 167, 222);
}
.icon-compare .path2:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(38, 167, 222);
}
.icon-compare .path3:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(38, 167, 222);
}
.icon-compare .path4:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(38, 167, 222);
}
.icon-compare .path5:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(38, 167, 222);
}
.icon-compare .path6:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(38, 167, 222);
}
.icon-compare .path7:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(38, 167, 222);
}
.icon-compare .path8:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(38, 167, 222);
}
.icon-compare .path9:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(37, 166, 221);
}
.icon-arrow_left:before {
  content: "\e925";
  color: #388af7;
}
.icon-arrow_right:before {
  content: "\e926";
  color: #388af7;
}
.icon-age:before {
  content: "\e910";
}
.icon-play_white:before {
  content: "\e911";
  color: #fff;
}
.icon-weight:before {
  content: "\e912";
  color: #ff3131;
}
.icon-play:before {
  content: "\e90f";
  color: #27a9e0;
}
.icon-arrow:before {
  content: "\e90d";
  color: #fff;
}
.icon-skip-fw:before {
  content: "\e90e";
  color: #fff;
}
.icon-case:before {
  content: "\e900";
  color: #27a9e0;
}
.icon-cases_list:before {
  content: "\e901";
  color: #fff;
}
.icon-fb:before {
  content: "\e902";
  color: #39a7de;
}
.icon-in:before {
  content: "\e903";
  color: #39a7de;
}
.icon-job:before {
  content: "\e904";
}
.icon-paragraph:before {
  content: "\e905";
  color: #ff3130;
}
.icon-pin:before {
  content: "\e906";
}
.icon-send:before {
  content: "\e907";
  color: #fff;
}
.icon-skip:before {
  content: "\e908";
  color: #fff;
}
.icon-swipe:before {
  content: "\e929";
  color: #fff;
}
.icon-tick:before {
  content: "\e90a";
  color: #27a9e0;
}
.icon-tw:before {
  content: "\e90b";
  color: #27a9e0;;
}
.icon-verdict:before {
  content: "\e90c";
  color: #7ed321;
}
.icon-youtube:before {
  content: "\ea9d";
  color: #27a9e0;
}
