<template>
  <div class="compare-verdict">
    <div class="container">
    <div class="compare-verdict-page">
        <div class="layout">
          <div class="layout-head">
            <appHeaderSteps :stageNum="stageNum"  :isBackButton="true"  :lawCaseId="lawCaseId" :progress="progress" @rewindStep="prev"></appHeaderSteps>
          </div>
          <div class="layout-content">
              <div class="layout-content-strech">
                <div>
                  <div class="head">
                      <div class="icon-box">
                        <img src="~assets/img/svg/compare.svg" alt="">
                      </div>
                      <h2>{{verdict[headerIndex].values}}</h2>
                    </div>
                    <div class="answers">
                        <div class="icon-center" :class="{correct: checkIsCorrect[compareIndex], inCorrect: !checkIsCorrect[compareIndex]}">
                          <span class="icon"></span>
                        </div>
                        <div class="item">
                          <div class="item-header">
                            <span class="icon icon-paragraph"></span>
                            <h3>Twój wybór</h3>
                            </div>
                            <div class="desc">
                                {{verdictPoroposal[compareIndex]}}
                            </div>
                        </div>
                        <div class="item">
                          <div class="item-header">
                            <span class="icon icon-verdict"></span>
                            <h3>Decyzja sądu</h3>
                            </div>
                            <div class="desc">
                                {{verdictValue[compareIndex]}}
                            </div>
                        </div>
                    </div>
                    <div class="cta-wrapper">
                      <button @click="next" v-if="!isLast" class="cta">Porównanie kolejnego oskarżonego</button>
                      <button @click="next" v-if="isLast" class="cta">Zobacz uzasadnienie</button>
                    </div>
                </div>
                <div>
                  <div class="center">
                    <drag-verify v-if="!isIntro" @passcallback="callback" 
                      :width="300" 
                      :height="40" 
                      background="#fff"
                      progressBarBg="#27A9E0"
                      completedBg="#27A9E0"
                      textSize="13px"
                      successText="Ładowanie..."
                      handler-icon="icon icon-swipe" 
                      handler-bg="#27A9E0" 
                      text="Przesuń, aby przejść do listy spraw" 
                    >
                </drag-verify>
                </div>
                </div>
              </div>

          </div>
      </div>
      </div>
      </div>
  </div>

</template>

<script>
import HeaderSteps from '~/components/HeaderSteps';
import dragVerify from 'vue-drag-verify'

export default {
  components: {
    'appHeaderSteps': HeaderSteps,
    dragVerify
  },
  props: ['verdict', 'stageNum', 'isIntro', 'lawCase', 'penaltyProposals', 'proposalsId', 'progress', 'backToLastVideo', 'lawCaseId'],
  computed: {
      verdictValue(){
        const arr = this.penaltyProposals;
        
        let verdict = []

          for(var i = 0; i < arr.length; i++) {
            
              for(var y = 0; y < arr[i].answers.length; y++) {
                
                if (arr[i].answers[y].id == this.verdict[i].penaltyProposalId) {
                    verdict.push(arr[i].answers[y].value)
                }

            }
            
          }
          
          return verdict
      },
      verdictPoroposal() {
          const arr = this.penaltyProposals;
          

          let proposals = []

          for(var i = 0; i < arr.length; i++) {
              for(var y = 0; y < arr[i].answers.length; y++) {
                if (arr[i].answers[y].id == this.proposalsId[i]) {
                    
                    proposals.push(arr[i].answers[y].value)
                }
            }
          }
          
          return proposals
      },
      checkIsCorrect(){

        let correct = [];

        for (var i=0; i < this.penaltyProposals.length; i++) {
          let isCorrect = false;
          if (this.verdictValue[i] == this.verdictPoroposal[i]) {
            isCorrect = true
          }

          correct.push(isCorrect)
        }

        

        return correct
        
      }
  },
  data () {

    let defaultverdictIndex = 0;

    return {
      compareIndex: 0,
      headerIndex: defaultverdictIndex,
      isLast: '',
      isCorrect: []
    }
  },
  methods: {

    checkIfLast() {

      if (this.compareIndex == this.penaltyProposals.length-1) {
            this.isLast = true
          } else {
            this.isLast = false
          }
          
    },

    next() {

          this.compareIndex++

          if (this.compareIndex < this.penaltyProposals.length) {
            this.headerIndex++
            this.checkIfLast()
            this.header = this.penaltyProposals[this.headerIndex].value
            this.$emit('increaseStep')
          } else {
            this.$emit('itemsEnded', {proposalsId: this.proposalsId})
          }
    },

    prev(){

        this.compareIndex--

        if (this.compareIndex >= 0) {
          this.headerIndex--
          this.checkIfLast()
          this.header = this.penaltyProposals[this.headerIndex].value
          this.$emit('decreaseStep')

        } else {
          this.$emit('rewindStep',{questionnaireRewind: false})
        }

      },

    rewindStep(){
        this.$emit('rewindStep', {questionnaireRewind: true})
      },
      callback() {
        this.$router.push({path: '/law-cases/'});
      }
  },

  mounted() {

    this.checkIfLast()

    if (this.backToLastVideo) {
          
          this.compareIndex= this.penaltyProposals.length-1
          this.headerIndex = this.penaltyProposals.length-1
        }else {
         
          this.compareIndex= 0
          this.headerIndex = 0
        }
    }

}
</script>

<style scoped>

  .compare-verdict {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100vh;
    background: #0b2666 url('./../assets/img/bg_compare.png') 50% 50%/cover no-repeat;
  }

  .compare-verdict-page {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    justify-content: center;
    
}

  .icon-box {
    display: table;
    margin: 0 auto 2vw;
  }

  h2 {
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 4vw;
  }

  .answers {
    display: flex;
    position: relative;
    margin-bottom: 4vw;
  }

  .answers .icon-center {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    content: "";
    width: 78px;
    height: 78px;
    transform: translateX(-50%) translateY(-50%);
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 31px 0 rgba(0,0,0,0.14);
  }

  .answers .icon-center .icon:before {
    font-size: 33px;
    font-family: 'icomoon';
  }

  .answers .icon-center.correct .icon:before {
    color: #7ED321;
    content: "\e90a";
  }

  .answers .icon-center.inCorrect .icon:before {
    color: #ff3130;
    content: '\e909';
  }

  .answers .item {
    flex-grow: 1;
    flex-basis: 0;
    background: #fff;
    margin: 0 12px;
    border-radius: 20px;
    padding: 2vw 2vw 4vw;
  }

  .answers .item .icon {
    text-align: center;
    display: block;
    font-size: 35px;
    margin-bottom: 29px;
  }

  .answers .item h3 {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 19px;
  }

  .answers .item .desc {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.375;
    color: rgba(0,0,0, .5);
    text-align: center;
  }

  .cta-wrapper {
    display: table;
    margin: 0 auto;
  }

  .cta {
    font-size: 15px;
    font-weight: 600;
    background: #27A9E0;
    padding: 16px 31px;
    border: none;
    color: #fff;
    border-radius: 25px;
    box-shadow: 0 0 20px 0 rgba(39,169,224,0.47);
    cursor: pointer;
    transition: 0.3s;
    outline: none;
  }

  .cta:hover {
    background: #fff;
    color: #27A9E0;
  }

  @media (max-width: 1500px) {

    h2 {
      margin-bottom: 2vw;
    }

  .icon-box {
    width: 50px;
    height: 50px;
    margin-bottom: 1vw;
  }

  .icon-box img {
    width: 100%;
  }

  .answers {
    margin-bottom: 4vw;
  }
}

  @media (max-width: 1230px) {
    .answers .icon-center {
      width: 50px;
      height: 50px;
    }

    .answers .icon-center .icon {
      font-size: 24px;
    }

    .answers .item .item-header {
      display: flex;
      justify-content: center;
    }

    .answers .item .icon {
      margin-right: 10px;
    }
  }

  @media (max-width: 812px) {
    .answers .item h3 {
      font-size: 18px;
      margin-bottom: 12px;
    }

    .answers .item .icon {
      font-size: 24px;
      margin-bottom: 12px;
    }

    .head {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 15px;
    }

    .head h2 {
      font-size: 26px;
      margin-bottom: 0
    }

    .head .icon-box {
      margin: 0;
      margin-right: 15px;
    }

    .answers .item {
      padding: 3vw 2vw;
    }
  }
</style>
