<template>

    <div class="features">
        <div class="item">
            <div class="item__title">
            <span class="icon icon-verdict"></span>
            <span class="txt">42 000</span>
            </div>
            <div class="item__content">
            wyroków wydanych przez internautów
            </div>
        </div>
        <div class="item">
            <div class="item__title">
            <span class="icon icon-tick"></span>
            <span class="txt">48%</span>
            </div>
            <div class="item__content">
            zgodności z rzeczywistym wyrokiem
            </div>
        </div>
        <div class="item">
            <div class="item__title">
            <span class="icon icon-case"></span>
            <span class="txt">10</span>
            </div>
            <div class="item__content">
            spraw karnych do wyboru
            </div>
        </div>
    </div>
</template>

<script>


export default {
  data () {
    return {

    }
  },
}
</script>

<style scoped>

.features {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .features .item {
    padding: 0 15px;
    width: 20%;
  }
  
  .features .item__title {
    margin-bottom: 33px;
    text-align: center;
  }

  .features .item__content {
    opacity: 0.7;
    color: #FFFFFF;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
    line-height: 1.35;
    text-align: center;
  }
  
  .features .item .icon {
    font-size: 23px;
    margin-right: 20px;
  }

  .features .item .icon:before {
    color: #27A9E0;
  }

  .features .item .txt {
    color: #FFFFFF;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 700;
  }

  @media (max-width: 1530px) {

    .features .item {
      width: 25%;
    }
  }

  @media (max-width: 1230px) {
    .features .item {
      width: 33.33%;
    }
  }

</style>
