<template>

    <div class="container">
      <div class="headerSteps headerSteps--desktop">
        <div class="back" v-if="isBackButton == true" @click="rewindStep"><span class="icon-arrow"></span>Poprzedni krok</span></div>
        <div class="stage-box stage-box-desktop" :class="{inactive : isEndVideo}" v-if="isBackButton != true">etap {{stageNum+1}}/<span>6</span></div>
        <div class="name" v-if="!isLast">{{(!isEndVideo) ? titles[stageNum] : 'Zakończenie'}}</div>
        <div class="center" v-if="!isLast">
          <div class="progress-bar-wrapper">
              <div class="stage-box stage-box-mobile" v-if="!isEndVideo">etap {{stageNum+1}}/<span>6</span></div>
              <div class="stage-box stage-box-mobile" v-if="isEndVideo">Zakończenie</div>
              <div class="progress-box"><span class="progress" :style="'width: ' + progress + '%'"></span><span class="num-box"><i class="num">{{progress}}</i>%</span></div>
          </div>
        </div>
      </div>
    </div>

</template>

<script>


export default {
  components: {

  },
  props: ['isEndVideo', 'progress', 'stageNum','isBackButton', 'isLast', 'lawCaseId'],
  data () {
    return {
    }
  },
  computed: {
   titles() {
     if (this.lawCaseId == 9 || this.lawCaseId == 10) {
        return ['Wstęp i okoliczności sprawy', 'Przebieg postępowania sądowego', 'Słowo komentarza', 'Propozycja orzeczenia', 'Decyzja sądu', 'Uzasadnienie']
      } else {
        return ['Fakty dotyczące przestępstwa', 'Zarzuty i wyjaśnienia oskarżonego', 'Wyjaśnienia końcowe', 'Propozycja wymiaru kary', 'Wyrok', 'Uzasadnienie']
      }
   }
  },

  methods: {
    rewindStep(){
     this.$emit('rewindStep', {questionnaireRewind: true})
    }
  },
 
}
</script>

<style scoped>

.back {
  cursor: pointer;
    background: none;
    display: flex;
    align-items: center;
    background: transparent;
    padding: 10px 20px;
    border-radius: 22px;
    transition: .3s;
    outline: none;
    border: 1px solid #fff;
    color: #fff;
    white-space: nowrap;
    margin-right: auto
}

.back:hover {
  background: #27a9e0 !important;
  border-color: #27a9e0;
}

.back span {
  font-size: 10px;
    transform: rotate(180deg);
    display: inline-block;
    margin-right: 12px;
}

.headerSteps {
  padding-top: 3.2vw;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;

}

.headerSteps .name {
  font-size: 28px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  padding: 0 5vw;
  
}

.progress-bar-wrapper {
  display: flex;
  align-items: center;
  
}

.headerSteps--desktop .progress-bar-wrapper .progress-box {
  width: 30vw;
}


.progress-bar-wrapper .progress-box {
  width: 300px;
  height: 30px;
  display: block;
  background: rgba(255,255,255, .16);
  border-radius: 15px;
  position: relative;
}

.progress {
  background: #27A9E0;
  width: 90px;
  height: 30px;
  border-radius: 15px;
  display: block;
}

.stage-box {
  color: #27a9e0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  white-space: nowrap;
}

.stage-box.inactive {
  visibility: hidden;
}

.stage-box-desktop {
  text-align: center;
}

.stage-box-mobile {
  display: none;
}



.progress-bar-wrapper .num-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #fff;
  line-height: 0;
  font-weight: 700;
}

.progress-bar-wrapper .num-box i {
  
  font-style: normal;
}



@media (max-width: 1023px) {

  .stage-box-desktop {
    display: none;
  }

  .stage-box-mobile {
    display: block;
    margin-bottom: 0;
    margin-right: 28px;
  }

  .headerSteps {
    padding-top: 20px;
  }

  .headerSteps .name {
    display: none;
  }

  .headerSteps--desktop .progress-bar-wrapper .progress-box {
    width: 40vw;
  }
}

@media (max-width: 800px) {
  .progress-bar-wrapper .progress-box {
    height: 20px;
  }

  .progress {
    height: 20px;
  }

  .progress-bar-wrapper .num-box {
    font-size: 12px;
  }

  .stage-box {
    font-size: 16px;
  }

  .back{
    padding: 5px 10px 7px;
    font-size: 12px;
  }

  .back span {
    font-size: 8px;
    margin-right: 8px;
  }

}

</style>
