<template>

    
    <div class="header-wrapper" v-if="!isIntro">
      <div class="header">
        <nuxt-link to="/law-cases/" tag="button" :class="{inactive: noList}" class="list-cases">
          <span class="icon icon-cases_list"></span>
          <span class="txt">Lista spraw</span>
        </nuxt-link>
        <nuxt-link to="/" class="logo" v-if="!disableLogo"><img src="~assets/img/logo.svg" width="240"></nuxt-link>
        <div class="nav-btn" @click="toggleNav" ><span class="icon icon-nav"></span></div>
        <div class="nav-mobile" :class="{active: isNavActive}">
            <a class="nav-btn-close" @click="toggleNav" ><img src="~assets/img/close.svg" width="240"></a>
          <div>
            <nuxt-link to="/" class="nav-mobile-logo"><img src="~assets/img/logo.svg" width="240"></nuxt-link>
          </div>
          <div class="link-wrapper">
            <div class="links">
              <nuxt-link @click="toggleNav" to="/" class="link">Start</nuxt-link>
              <nuxt-link @click="toggleNav" to="/law-cases/" class="link">Lista Spraw</nuxt-link>
              <!--<nuxt-link @click="toggleNav" to="/about_project" class="link">O projekcie</nuxt-link>-->
              <nuxt-link @click="toggleNav" to="/contact" class="link" >Kontakt</nuxt-link>
          </div>
          </div>
          <div class="socials-wrapper">
              <div class="socials">
                        <span class="label-box">Dołącz do nas</span>
                        <div class="items">
                            <a href="#"><i class="icon icon-in"></i></a>
                            <a href="#"><i class="icon icon-fb"></i></a>
                            <a href="#"><i class="icon icon-tw"></i></a>
                        </div>
                    </div>
          </div>
        </div>
        <nav class="nav" v-if="!noNav">
          <ul>
            <li><nuxt-link to="/">Start</nuxt-link></li>
            <!--<li><nuxt-link to="/about_project">O projekcie</nuxt-link></li>-->
            <li><nuxt-link to="/contact">Kontakt</nuxt-link></li>
          </ul>
        </nav>
      </div>

    </div>

</template>

<script>


export default {
  components: {

  },
  props: ['noList', 'noNav', 'isIntro', 'noLogo'],
  data () {
    return {
     isNavActive: false,
     windowW: '',
     disableLogo: false,
    }
  },
  computed: {

  },

  methods: {
    toggleNav() {
      this.isNavActive = !this.isNavActive
    },
    resizeHander() {
      this.windowW = window.innerWidth

      if (this.windowW < 1023) {
        if (this.noLogo) this.disableLogo = true
      } else {
        this.disableLogo = false
      }
    }
  },
  mounted() {
    this.resizeHander();
    window.addEventListener('resize', this.resizeHander);
  },
  destroyed() {
    window.removeEventListener("resize", this.resizeHander);
  },
   
}
</script>


<style scoped>

.logo {
  position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.header-wrapper {
  position: relative;
}

.nav-btn-close {
    position: absolute;
    right: 20px;
    top: 0;
    display: block;
    padding: 20px
}

.nav-btn-close img {
  width: 3vw;
}

.nav-mobile-logo {
  margin: 0 auto 0;
  display: block;
  width: 18vw;
}

.nav-mobile-logo img {
  width: 100%
}

.nav-mobile {
    top: 0;
    position: fixed;
    background: linear-gradient(165.22deg, #1851CC 0%, #000000 100%);
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
     padding-top: 7vw;
}

.list-cases.inactive {
  visibility: hidden;
}

.nav-mobile.active {
  display: flex;
}

.nav-mobile > div {
  width: 100%
}

.nav-mobile .link-wrapper {
  display: flex;
  align-items: center;
}

.nav-mobile .links {
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav-mobile .links .nuxt-link-exact-active {
    background: rgba(255,255,255, .9);
    color: #0d2d70 !important;
}

.nav-mobile .links .link:active {
  background: rgba(255,255,255, .9);
  color: #0d2d70 !important;
}

.nav-mobile .links .link {
  color: #fff;
    border: 1px solid #fff;
    margin: 0 2vw;
    padding: 1vw 3vw;
    border-radius: 3vw;
    text-decoration: none;
}


.socials-wrapper {
  align-self: flex-end;
  padding: 3vw 0;
  border-top: 1px solid rgba(255,255,255, .15)
}

.socials {
        display: flex;
        align-items: center;
        justify-content: center;
       
    }

    .socials .label-box {
        color: #fff;
        font-size: 16px;
        font-family: 'Metropolis-Medium';
        margin-right: 20px;
        margin-top: 4px;
    }

    .socials .items {
        display: flex;
    }

    .socials .items a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background: transparent;
        border-radius: 4px;
        margin: 0 5px;
        text-align: center;
        text-decoration: none;
        transition: 0.3s;
    }
    
    .socials .items a .icon {
        font-size: 2.5vw
    }

    .socials .items a:hover {
        background: #fff;
    }

.header {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  padding-top: 3.2vw;
}

.nav-btn {
  display: none;
}

.logo img {
  max-width: 100%;
}

.list-cases {
  cursor: pointer;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  background: transparent;
  padding: 10px 20px 10px 20px;
  border-radius: 22px;
  transition: 0.3s;
  outline: none;
}

.list-cases:hover {
  background: #27A9E0;
}

.list-cases .icon {
  margin-right: 20px;
}

.list-cases .icon:before {
  color: #fff;
  font-size: 24px;
}

.list-cases .txt {
  color: #fff;
}

.list-cases .txt a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

.nav {
  margin-left: auto
}

.nav ul {
  display: flex;
  padding-left: 0;
  list-style: none;
}

.nav ul li {
  margin-left: 61px;
}

.nav ul li:first-child {
  margin-left: 61px;
}

.nav ul li a {
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  background: transparent;
  padding: 4px 15px 6px;
  border-radius: 15px;
  transition: 0.3s;
}

.nav ul li a:hover {
  background: #27A9E0;
}

@media (max-width: 1023px) {

  .logo {
    width: 15.5vw;
    
  }

  .nav {
    display: none;
  }

  .header {
    padding-top: 20px;
    margin-bottom: 20px;
  }

  .nav-btn {
    display: block;
    margin-left: auto
    
  }

  .nav-btn .icon:before {
    color: #fff;
    font-size: 3vw;
  }
}

</style>
