<template>
      <div class="item" :data-law-case-id="lawCase.id">
        <div class="image-box">
          <img :src="lawCase.coverUrl" alt="">
        </div>
        <div class="content-box">
          <div class="tag"><span :style="{'background': lawCase.tagColor}" class="stripe"></span>{{lawCase.tag}}</div>
          <div class="inner">
            <div class="category category-desktop">{{lawCase.category}}</div>
            <div class="category category-mobile">{{lawCase.category}}</div>
            <div class="desc" v-html="lawCase.shortDesc">
            </div>
            <div class="cta">Zobacz sprawę</div>
          </div>
          <span class="stripe" :style="{'background': lawCase.tagColor}"></span>
        </div>
      </div>


</template>

<script>


export default {
  components: {
  },
  props: ['lawCase', 'quantity'],
  data () {
    return {
      
    }
  },
  computed: {

  },
  methods: {

  },
}
</script>

<style scoped>

.item {
  display: flex;
  width: 100%;
  height: 100%;
}


.item .inner {
  transition: 0.5s;
}


.image-box {
  position: relative;
  width: 16.875vw;
  height: 21.615vw;
  flex-shrink: 0;
  z-index: 1;
}

.image-box img {
      height: 100%;
    object-fit: contain;
}

  .content-box {
    background: #fff;
    border-radius: 20px;
    padding: 0 2.292vw 2.292vw;
    padding-left: 14.792vw;
    margin: 3.385vw 0 0 -11.250vw;
    flex-grow: 1;
    position: relative;
  }
.content-box .num {
  color: #002A71;
  font-family: "Open Sans";
  font-size: 19px;
  font-weight: 700;
  line-height: 1.375;
  margin-bottom: 20px;
}

.content-box .category-mobile {
  display: none;
}

.content-box .category-desktop {
  display: block;
  font-size: 1.667vw;
  font-weight: 700;
  margin-bottom: 1.302vw;
  line-height: 1.1;
}

.content-box .title {
  color: #000000;
  font-family: "Open Sans";
  font-size: 32px;
  font-weight: 700;
}

.content-box .tag {
    font-size: 1.724vw;
    color: #000;
    margin-bottom: 21px;
    padding-left: 2.031vw;
    font-size: 15px;
    display: flex;
    align-items: center;
    height: 2.760vw;
    min-height: 28px;
    position: relative;
    margin-bottom: 1.615vw;
    font-family: 'AvenirLTStd-Black';
  }

  .content-box .tag:first-letter {
    text-transform: uppercase;
  }

.content-box .tag .stripe {
    display: block;
    position: absolute;
    content: "";
    width: 1.250vw;
    height: 2.760vw;
    min-height: 28px;
    background: #FF3131;
    left: 0;
    top: 0;
  }

  .content-box .stripe {
    display: block;
    position: absolute;
    content: "";
    width: 1.250vw;
    height: 1.719vw;
    background: #FF3131;
    left: 14.792vw;
    bottom: 0;
  }

.content-box .desc {
  color: #1F1F1F;
  font-family: "Open Sans";
  font-size: 15px;
  line-height: 1.375;
  margin-bottom: 2.698vw;
}

.content-box .cta {
  display: inline-block;
  color: #FFFFFF;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 600;
  border-radius: 25px;
  background-color: #27A9E0;
  box-shadow: 0 0 20px 0 rgba(39,169,224,0.47);
  padding: 14px 44px 16px;
  cursor: pointer;
  transition: 0.3s;
}

.content-box .cta:hover {
  color: #27A9E0;
  background: #fff;
}

@media (max-width: 1023px) {
  .image-box {
    width: 21.429vw;
    flex-shrink: 0;
    position: relative;
    z-index: 1;
  }

  .image-box img {
    width: 100%;
  }

  .content-box .category-mobile {
    display: block;
  }

  .content-box .category-desktop {
    display: none;
  }

  .content-box {
    padding: 0 2.7vw 5.419vw 5.419vw;
    padding-left: 17vw;
    margin: 5vw 0 0 -13vw;
    position: relative;
    z-index: 0;
  }

  .content-box .stripe {
    left: 17vw;
  }

  .content-box .num {
    display: none;
  }

  

  .content-box .category {
    font-size: 2.217vw;
    font-weight: 700;
    min-height: 11vw;
  }

  .content-box .desc {
    display: none;
  }

  .content-box .cta {
    font-size: 14px;
    padding: 1.2vw 3vw;
    text-align: center;
  }

  .content-box .category {
    min-height: auto !important;
  }

   .content-box .category {
     margin-bottom: 3vw;
   }
  
}


  @media (max-width: 800px) {
    .content-box .category {
      font-size: 20px;
    }
  }

  @media (max-width: 600px) {
    .content-box .category {
      font-size: 18px;
    }
  }

  
</style>
