<template>

    <div class="single-case">
      <div class="single-case-inner">
        <div class="tag"><span :style="{'background': lawCase.tagColor}" class="stripe"></span></div>
        <div class="cta" @click="nextStep"><img src="~/assets/img/play.png" alt=""><span class="txt">Rozpocznij sprawę</span></div>
        <div class="items">
          <div v-for="index in pesonsLength" :key="index" class="single-case-item">
            <div class="image-box">
              <img :src="lawCase.imageUrl[index-1]" alt="">
            </div>
            <div class="content-box">
              <div class="name-box">
                <div class="name">{{(isMultiplePeson) ? lawCase.person[index-1] : lawCase.person}}</div>
              </div>
              <div class="person-details">
                <div class="item age"><span class="icon icon-age"></span>{{(isMultiplePeson) ? lawCase.age[index-1] : lawCase.age}}</div>            
                <div class="item city"><span class="icon icon-pin"></span>{{(isMultiplePeson) ? lawCase.city[index-1] : lawCase.city}}</div>            
                <div class="item position"><span class="icon icon-job"></span>{{(isMultiplePeson) ? lawCase.position[index-1] : lawCase.position}}</div>            
              </div>
              <div class="person-desc">
                <div v-html="lawCase.personDesc[index-1]"></div>
              </div>
              <div class="desc">
                <div v-html="lawCase.desc[index-1]"></div>
              </div>
              <div class="header">{{lawCase.crimeName}}</div>
              <ul v-for="(crime, index) in lawCase.crimes[index-1]" class="crimes">
                <li v-html="crime"></li>
              </ul>
              
            </div>
            <span class="stripe" :style="{'background': lawCase.tagColor}"></span>
          </div>
        </div>
      </div>
    </div>

</template>

<script>


export default {
  components: {

  },
  props: ['lawCase'],
  data () {
    return {

      
    }
  },
  computed: {
    lawCaseLink() {
      return "/law-cases/law-case/" + this.lawCase.id;
    },
    isMultiplePeson() {
      return Array.isArray(this.lawCase.person)
    },
    pesonsLength(){
      if (this.isMultiplePeson) {
        return this.lawCase.person.length
      } else {
        return 1
      }
    }
  },

  methods: {
    
    openLawCase() {
      this.$router.push(this.lawCaseLink);
    },
    nextStep(){
        this.$emit('nextStep')
    }
  },
  mounted() {
    
  }
}
</script>

<style scoped>

.single-case {
  padding-left: 108px;
  padding-top: 65px;
}


.single-case-inner {
  background: #fff;
  box-shadow: 0 2px 30px 0 rgba(0,0,0,0.19), 0 10px 30px 0 rgba(196,221,255,0.16);
  border-radius: 20px;
  position: relative;
}

.single-case-inner .tag {
  position: absolute;
  color: #000;
  margin-left: 360px;
  padding-left: 39px;
  font-size: 15px;
  display: flex;
  align-items: center;
  min-height: 53px;
  margin-bottom: 31px;
  font-family: 'AvenirLTStd-Black';
  z-index: 1;
}

.single-case-inner .tag:first-letter {
  text-transform: uppercase;
}

.single-case-inner .tag .stripe {
    display: block;
    position: absolute;
    content: "";
    width: 24px;
    height: 53px;
    background: #FF3131;
    left: 0;
    top: 0;
  }

.single-case-inner .stripe {
  display: block;
  position: absolute;
  content: "";
  width: 24px;
  height: 33px;
  background: #FF3131;
  left: 362px;
  bottom: 0;
}

.single-case-item {
  display: flex;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.single-case-item:last-child {
  margin-bottom: 0;
}

.cta {
    position: absolute;
    right: 51px;
    top: 43px;
    background: #27A9E0;
    border-radius: 30px;
    display: flex;
    align-items: center;
    border: none;
    padding: 20px 34px;
    outline: none;
    cursor: pointer;
    align-self: flex-start;
    z-index: 1;
    box-shadow: 0 0 20px 0 rgba(39,169,224,0.47);
}


  .cta img {
    margin-right: 17px;
    height: 18px;
  }

  .cta .txt {
    color: #FFFFFF;
    font-family: "Open Sans";
    font-size: 17px;
    font-weight: 700;
    white-space: nowrap;
    transition: 0.3s;
  }

.content-box {
  width: 100%;
  padding: 0 82px 0;
  position: relative;
  text-align: left;
}

.image-box {
  width: 385px;
  height: 494px;
  flex-shrink: 0;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  margin-left: -108px;
  margin-top: -65px;
}

.image-box img {
  width: 100%;
  height: 100%;
}

.single-case-item:first-child .content-box {
  padding-top: 84px;
}

  .content-box .name-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 55%;
    margin-bottom: 28px;
  }


.content-box .name {
    font-size: 32px;
    font-weight: 700;
    
}


.content-box .person-details {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.content-box .person-details .item {
  margin-right: 60px;
  display: flex;
  font-size: 20px;
  margin-bottom: 20px;
  align-items: center;
  color: #473E4A;
  font-family: 'Metropolis-Medium';
}

.content-box .person-details .item:last-child {
  margin-right: 0;
}

.content-box .person-details .item.age .icon {
  margin-top: -7px;
}

.content-box .person-details .item .icon:before {
  color: #473E4A;
}

.content-box .person-details .item .icon {
  flex-shrink: 0;
  font-size: 23px;
  margin-right: 11px;
}

.content-box .person-desc {
  font-size: 15px;
  line-height: 1.33;
  margin-bottom: 15px;
}

.content-box .desc {
  font-size: 15px;
  line-height: 1.33;
  margin-bottom: 30px;
}

.content-box .header {
  color: #7F7F7F;
  font-size: 18px;
  margin-bottom: 21px;
}

.content-box .crimes {
  list-style: none;
  padding-left: 0;
}

.content-box .crimes li {
  font-size: 15px;
  font-weight: 600;
  padding-left: 28px;
  position: relative;
}

.content-box .crimes li:before {
  position: absolute;
  content: "";
  display: block;
  left: 8px;
  top: 9px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #27A9E0;
}



@media (max-width: 1630px) {
  .image-box {
    width: 254px;
    height: 325px;
    flex-shrink: 0;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    margin-left: -108px;
    margin-top: -65px;
  }

  .content-box {
    padding: 0 54px 0;
  }

  .single-case-inner .tag {
      margin-left: 197px;
  }

  .single-case-inner .stripe {
    left: 197px;
  }

  .content-box .name-box {
    max-width: 50%;
  }

  .content-box .name-box .name {
    font-size: 24px;
  }

  .content-box .person-details .item {
    font-size: 15px;
  }

  .cta {
    padding: 15px 24px;
  }

  .cta .txt {
    font-size: 14px;
  }

  .single-case-inner .tag {
    height: 48px;
  }

  .single-case-inner .tag .stripe {
    width: 18px;
    height: 48px;
  }

  .single-case-inner .stripe {
    width: 18px;
  }

  .single-case-item:first-child .content-box {
    padding-top: 64px;
  }

}


@media (max-width: 1023px) {

  .single-case {
    padding-top: 5.178vw;
    padding-left: 4.56vw;
  }

  .image-box {
    width: 21.5vw;
    height: 28.7vw;
    margin-top: -5.178vw;
    margin-left: -4.56vw;
  }

  .single-case-inner .tag {
    margin-left: 20.1vw;
  }

  .single-case-inner .stripe {
    left: 20.1vw;
  }

  .content-box {
    padding: 0 3.2vw 0;
  }

  .single-case-item:first-child .content-box {
    padding-top: 54px;
  }

  .single-case-inner .tag {
    min-height: 31px;
    padding-left: 24px;
  }
  
  .single-case-inner .tag .stripe {
    width: 14px;
    height: 31px;
  }

  .single-case-inner .stripe {
    width: 14px;
    height: 18px;
  }

  .content-box .name-box {
    max-width: 48%;
  }

  .cta {
    padding: 12px 28px;
    right: 26px;
    top: 48px;
    transform: translateY(-40%)
  }

  .cta .txt {
    font-size: 15px;
  }

  .cta img {
    height: 14px;
  }

  .content-box .name {
    font-size: 24px;
    word-break: break-word;
  }

  .content-box .person-details .item {
    font-size: 16px;
  }

  .content-box .person-details .item .icon {
    font-size: 18px;
  }

  @media (max-width: 736px) {
    .cta {
        top: 54px;
        padding: 10px 26px;
    }

    .cta img {
      margin-right: 10px;
    }

    .content-box .name-box {
      max-width: 40%;
    }

    .content-box .person-details .item {
      margin-right: 40px
    }
  }
}


</style>
