<template>
<div class="proposal">
  <div class="container">
    <div class="layout">
        <div class="layout-head">
          <appHeaderSteps :stageNum="stageNum" :isBackButton="true" :lawCaseId="lawCaseId" :progress="progress" @rewindStep="prev"></appHeaderSteps>
        </div>
        <div class="layout-content">
            <div class="layout-content-strech">
              <div>
                <img class="icon-head" src="~assets/img/svg/weight.svg" alt="">
                <h2 class="header">{{penaltyProposals[headerIndex].value}}</h2>
                <h2 class="header"></h2>
                <div class="items">
                    <div class="item" v-for="(answer, index) in answers" :key="answer.id">
                      <div class="item-header">
                          <span class="icon icon-paragraph"></span>

                          <h3>{{lawCase.caseType}} {{index+1}}</h3>
                        </div>
                        <div class="desc">
                            {{answer.value}}
                        </div>
                        <button @click="next(answer.id, index)" class="cta"><span class="icon icon-hammer"></span>Wybierz</button>
                    </div>
                </div>
              </div>
              <div>
                <div class="center">
                  <drag-verify v-if="!isIntro" @passcallback="callback" 
                    :width="300" 
                    :height="40" 
                    background="#fff"
                    progressBarBg="#27A9E0"
                    completedBg="#27A9E0"
                    textSize="13px"
                    successText="Ładowanie..."
                    handler-icon="icon icon-swipe" 
                    handler-bg="#27A9E0" 
                    text="Przesuń, aby przejść do listy spraw" 
                  >
                </drag-verify>
              </div>
              </div>
            </div>

        </div>
    </div>
  </div>
  </div>
</template>

<script>
import HeaderSteps from '~/components/HeaderSteps';
import dragVerify from 'vue-drag-verify';

let answers = [];

export default {
  components: {
    'appHeaderSteps': HeaderSteps,
    dragVerify
  },
  props: ['lawCase', 'penaltyProposals', 'stageNum', 'progress', 'isIntro', 'backToLastVideo', 'lawCaseId'],
  data () {

    let defaultpenaltyIndex = 0;

    return {
      penaltyIndex: 0,
      answers: this.penaltyProposals[defaultpenaltyIndex].answers,
      header: this.penaltyProposals[defaultpenaltyIndex].value,
      headerIndex: defaultpenaltyIndex,
      proposalsId: [],
    }
  },
  methods: {

    next(proposalId, index) {

          if (this.penaltyIndex == 0) this.proposalsId=[];

          answers.push({"questionId": this.penaltyProposals[this.penaltyIndex].id, "answerNo":index})

          this.proposalsId.push(proposalId)
          this.penaltyIndex++

          if (this.penaltyIndex < this.penaltyProposals.length) {
            this.headerIndex++
            this.change()
            this.header = this.penaltyProposals[this.headerIndex].value
            this.$emit('increaseStep')
          } else {

            this.$emit('itemsEnded', {proposalsId: this.proposalsId, answers: answers})
          }
    },

    prev(){

        this.penaltyIndex--

        if (this.penaltyIndex >= 0) {
          this.headerIndex--
          this.change()
          this.header = this.penaltyProposals[this.headerIndex].value
          this.$emit('decreaseStep')

        } else {
          this.$emit('rewindStep',{questionnaireRewind: true})
        }

      },

    change () {
      this.answers = this.penaltyProposals[this.headerIndex].answers;
    },
    callback() {
      this.$router.push({path: '/law-cases/'});
    },
    
  },
  mounted() {
      answers = []

      if (this.backToLastVideo) {
          
          this.penaltyIndex= this.penaltyProposals.length-1
          this.headerIndex = this.penaltyProposals.length-1
        }else {
         
          this.penaltyIndex= 0
          this.headerIndex = 0
        }
    }
}
</script>

<style scoped>



.proposal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  background: #0b2666 url('./../assets/img/bg_proposal.png') 50% 50%/cover no-repeat;
  overflow: auto;
}

.header {
  color: #FFFFFF;
  font-family: "Open Sans";
  font-size: 38px;
  font-weight: 700;
  line-height: 1.375;
  text-align: center;
  margin-bottom: 46px;
  width: 100%;
}

.icon-head {
  margin: 0 auto 24px
}

.items {
  display: flex;
  width: 100%;
  margin-bottom: 20px
}

.items .item {
  background: #fff;
  padding: 38px 29px 67px;
  border-radius: 20px;
  margin: 0 15px;
  position: relative;
  flex-grow: 1;
  flex-basis: 0;
}

.items .item .icon {
  display: block;
  font-size: 35px;
  margin-bottom: 25px;
}

.items .item h3 {
  color: #000000;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 600;
  line-height: 1.37;
  text-align: center;
  margin-bottom: 28px;
}

.items .item .desc {
  color: #000000;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 1.375;
  text-align: center;
}

.items .item .cta {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  border-radius: 30px;
  background-color: #FF3131;
  box-shadow: 0 0 20px 0 rgba(255,49,49,0.47);
  border: none;
  padding: 18px 54px;
  transition: 0.3s;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.items .item .cta .icon {
  font-size: 25px;
  margin-right: 19px;
  margin-bottom: 0;
}

.items .item .cta .icon:before {
  color: #fff;
  transition: 0.3s;
}

.items .item .cta:hover {
  background: #fff;
  color: #FF3131;
}

.items .item .cta:hover .icon:before {
  color: #FF3131;
}

@media (max-width: 1400px) {

  .header {
    font-size: 28px;
  }

  .icon-head {
    width: 54px;
    height: 54px;
  }

  .items .item {
    padding-top: 28px;
  }

  .items .item .cta {
    padding: 18px;
    font-size: 16px;
  }

  .items .item .item-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .items .item .item-header .icon {
    margin-bottom: 0;
    margin-right: 10px;
  }

  .items .item .item-header h3 {
    margin-bottom: 0
  }
}

@media (max-width: 812px) {
  .header {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .icon-head {
    margin-bottom: 10px;
  }

  .items .item .cta {
    font-size: 13px;
    padding: 12px;
  }

  .items .item .cta .icon {
    font-size: 18px;
    margin-right: 10px;
  }
  .items .item {
    margin: 0 7px;
    padding: 20px 10px 50px;
  }

  .items .item .item-header  {
    margin-bottom: 20px;
  }
  
  .items .item .item-header .icon {
    font-size: 18px;
  }

  .items .item .item-header h3 {
    font-size: 18px;
  }
}
</style>
