<template>
<div>
  
    <div class="questionnaraire">

        <div class="container">
          <div class="layout">
            <div class="layout-head">
                <appHeaderSteps class="header-header" v-if="!isIntro" :isBackButton="true" :lawCaseId="lawCaseId" :stageNum="stageNum" :progress="progress" @rewindStep="rewindStep"></appHeaderSteps>
                <appHeader v-if="isIntro" :isIntro="isIntro" noList="true" noNav="true"></appHeader>
            </div>
            <div class="layout-content">
                <div class="layout-content-strech">
                  <div class="part">
                      <div v-if="isIntro">
                        <h2 class="title">
                          Witaj w symulatorze rozpraw sądowych.
                        </h2>
                        <div class="note">
                            Zanim zaczniesz, odpowiedz:
                        </div>
                      </div>
                      <h3 class="question">
                        <div v-html="question"></div>

                      </h3>
                      <div v-if="isIntro" class="answers">
                          <button @click="goLawCases(index)" v-for="(answer, index) in answers" :key="answers.id">{{answer}}</button>
                      </div>
                      <div v-if="!isIntro" class="answers">
                          <button @click="next(index)" v-for="(answer, index) in answers" :key="index">{{answer}}</button>
                      </div>
                    </div>
                  <div class="part">
                    <div class="center">
                      <drag-verify v-if="!isIntro" @passcallback="callback" 
                          :width="300" 
                          :height="40" 
                          background="#fff"
                          progressBarBg="#27A9E0"
                          completedBg="#27A9E0"
                          textSize="13px"
                          successText="Ładowanie..."
                          handler-icon="icon icon-swipe" 
                          handler-bg="#27A9E0" 
                          text="Przesuń, aby przejść do listy spraw" 
                        >
                    </drag-verify>
                  </div>
                  </div>
                </div>

            </div>
        </div>
      </div>
    </div>
</div>
</template>

<script>
import HeaderSteps from '~/components/HeaderSteps';
import Header from '~/components/Header';
import dragVerify from 'vue-drag-verify';

var vote = {
  uniqueUserId: '',
  votes: []
};

export default {
  data () {
    return {}
  },
  components: {
    'appHeaderSteps': HeaderSteps,
    'appHeader': Header,
    dragVerify
  },
  props: ['isIntro', 'stepQuestions', 'stageNum', 'progress', 'statisticsIntro', 'lawCaseId'],
    computed: {
      question(){
        return (this.isIntro) ? this.statisticsIntro.value : this.stepQuestions[0].value;
      },
      answers(){
        return (this.isIntro) ? this.statisticsIntro.answers : this.stepQuestions[0].answers;
      },
      questionnaireId() {
        return this.stepQuestions[0].id
      }
    },
    methods: {
      next(index) {

        let answer = {"questionId": this.questionnaireId, "answerNo":index};

        this.$emit('itemsEnded', ['questionnaire', answer]);

        },
        rewindStep(){
        this.$emit('rewindStep', {questionnaireRewind: true})
      },
      goLawCases(index){

        let answer = {"questionId": this.statisticsIntro.id, "answerNo":index};

        vote.votes.push(answer);

        function create_UUID(){
            var dt = new Date().getTime();
            var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
                var r = (dt + Math.random()*16)%16 | 0;
                dt = Math.floor(dt/16);
                return (c=='x' ? r :(r&0x3|0x8)).toString(16);
            });
            return uuid;
        }

        vote.uniqueUserId = create_UUID();

        console.log(JSON.stringify(vote))

        this.$axios.$post(process.env.apiUrl + '/sendStatistic', JSON.stringify(vote))
          .then(result => {

              if(result == 'ok'){
                  this.$router.push({path: '/law-cases/'});
              } else {
                return { 'ok': false };
              }

          })
        .catch(e => { console.log(e) });

      },
      callback() {
        this.$router.push({path: '/law-cases/'});
      }

    },
}
</script>

<style scoped>

.header-header {
  align-self: flex-start;
}

.title {
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 12px;
}

.note {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 34px;
}

.questionnaraire {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  background: #0b2666 url('./../assets/img/bg_pytanie.png') 50% 50%/cover no-repeat;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.questionnaraire .content {
  display: table;
  width: 100%;
  padding: 3.2vw 0;
} 


.question {
    width: 70%;
    margin: 0 auto 89px;
    color: #FFFFFF;
    font-family: "Open Sans";
    font-size: 38px;
    font-weight: 700;
    line-height: 1.36;
    text-align: center;
}

.answers {
  display: flex; 
  justify-content: center
}

.answers button {
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.375;
  background: #fff;
  border: none;
  padding: 14px;
  border-radius: 25px;
  flex-grow: 1;
  flex-basis: 0;
  margin: 0 16px;
  transition: 0.3s;
  cursor: pointer;
  outline: none;
}

.answers button:hover {
  background: #27A9E0;
  color: #fff;
}

.logo-wrapper {
  width: 100%;
  align-self: flex-start;
  
}




@media (max-width: 1630px) {
  .question {
    font-size: 30px;
  }
}

@media (max-width: 1400px) {
  .question {
    font-size: 28px;
  }
}

@media (max-width: 1023px) {
  .logo {
    display: none;
  }
  
  .logo-wrapper {
    display: none;
  }

  .questionnaraire .content {
    padding: 0;
  }

  .title {
    font-size: 2.716vw;
  }

  .note {
    font-size: 2.222vw;
    margin-bottom: 2.222vw;
  }

  .question {
    font-size: 2.963vw;
    margin-bottom: 4.691vw;
  }

  .answers button {
    font-size: 1.852vw;
    padding: 1.235vw;
  }
}

</style>
