<template>
  
    <div>
        <div class="results">
          <div class="container">
            <div class="layout">
              <div class="layout-head">
                  <img class="logo" src="~assets/img/logo.svg" width="240">
              </div>
              <div class="layout-content">
                <div class="layout-content-strech">
                  <div>
                    <h2 class="title">
                      Statystyka wyroków wybieranych przez innych użytkowników
                    </h2>
                  </div>
                  <div>
                      <div class="statistics">
                    <div class="statistics-item">
                      <stat :diameter="diameter"
                            :strokeWidth="strokeWidth"
                            :innerStrokeWidth="innerStrokeWidth"
                            :completed-steps="completedSteps[0]"
                            :total-steps="totalSteps"
                            :innerStrokeColor="innerStrokeColor"
                            :startColor="startColor"
                            :stopColor="stopColor"
                            :animateSpeed="animateSpeed"
                            >
                            <transition name="fade">
                              <p v-if="!isAnimate">{{ completedSteps[0] }}%</p>
                            </transition>
                      </stat>
                      <div class="statistics-desc">Są zbyt łagodne</div>
                    </div>
                    <div class="statistics-item">
                      <stat :diameter="diameter"
                            :strokeWidth="strokeWidth"
                            :innerStrokeWidth="innerStrokeWidth"
                            :completed-steps="completedSteps[1]"
                            :total-steps="totalSteps"
                            :innerStrokeColor="innerStrokeColor"
                            :startColor="startColor"
                            :stopColor="stopColor"
                            :animateSpeed="animateSpeed"
                            >
                            <transition name="fade">
                              <p v-if="!isAnimate">{{ completedSteps[1] }}%</p>
                            </transition>
                      </stat>
                      <div class="statistics-desc">Są adekwatne</div>
                    </div>
                    <div class="statistics-item">
                      <stat :diameter="diameter"
                            :strokeWidth="strokeWidth"
                            :innerStrokeWidth="innerStrokeWidth"
                            :completed-steps="completedSteps[2]"
                            :total-steps="totalSteps"
                            :innerStrokeColor="innerStrokeColor"
                            :startColor="startColor"
                            :stopColor="stopColor"
                            :animateSpeed="animateSpeed"
                            >
                            <transition name="fade">
                              <p v-if="!isAnimate">{{ completedSteps[2] }}%</p>
                            </transition>
                      </stat>
                      <div class="statistics-desc">Są surowe</div>
                    </div>
                </div>
                  </div>
                  <div>
                      <div class="center">
                    <nuxt-link to="/law-cases" class="cta button">Zobacz listę spraw</nuxt-link>
                </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
  </div>
</template>

<script>
import stat from '~/components/Stat';


export default {
  components: {
    stat,
  },
  props: [
    ''
  ],
  data () {
    return {
      completedSteps: [],
      totalSteps: 100,
      diameter: 230,
      strokeWidth: 17,
      innerStrokeWidth: 17,
      startColor: '#0054EF',
      stopColor: '#0054EF',
      innerStrokeColor: '#304f94',
      animateSpeed: 1000,
      isAnimate: true,
      windowW: '',
    }
  },
  methods: {
    resizeHander() {
        this.windowW = window.innerWidth
        if(this.windowW < 1400) {
          this.diameter = 160;
          this.strokeWidth = 12;
          this.innerStrokeWidth = 12;
        }
        if (this.windowW < 1023){
          this.diameter = 120
        } 

        if (this.windowW < 668){
          this.diameter = 100
        } 
        
        if (this.windowW >= 1400){
          this.diameter = 230;
          this.strokeWidth = 17;
          this.innerStrokeWidth = 17;
        }
      }
  },
  mounted() {
    this.completedSteps= [19,21,60];
    let self = this;
    setTimeout(function(){
      self.isAnimate = false;
    },self.animateSpeed);

    window.addEventListener('resize', this.resizeHander);
  },
  created(){
    this.resizeHander()
  },
  destroyed() {
    window.removeEventListener("resize", this.resizeHander);
  },


}
</script>

<style scoped>

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.header-head {
  color: #FFFFFF;
  font-size: 38px;
  font-weight: 700;
  line-height: 1.37;
  text-align: center;
  margin-top: 39px;
  margin-bottom: 204px;
}

.logo {
  padding-bottom: 3.2vw;
  padding-top: 3.2vw;
}

.title {
  font-size: 38px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 4vw;
}


.results {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  background: #fff;
  background: #0b2666 url('./../assets/img/bg_pytanie.png') 50% 50%/cover no-repeat;
  overflow: auto;
}

h2 {
  width: 100%;
  color: #FFFFFF;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 700;
  line-height: 1.35;
  margin-bottom: 104px;
}

.button {
  display: block;
  color: #FFFFFF;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  background: #27A9E0;
  padding: 14px 100px;
  border-radius: 25px;
  text-decoration: none;
  transition: 0.3s;
}

.button:hover {
  background: #fff;
  color: #27A9E0;
}

.header {
  margin-top: 56px;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 28px;
}

.desc {
  color: #FFFFFF;
  font-size: 24px;
  margin-top: 61px;
  line-height: 1.375;
  text-align: center;
}

.statistics {
  display: flex; 
  justify-content: center; 
  margin-bottom: 6.510vw;
}

.statistics-item {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.statistics-item p {
  width: 100%;
  font-size: 32px;
  font-weight: 600;
  color: #fff;
}

.statistics-item .statistics-desc {
  width: 100%;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  margin-top: 30px;
}

@media (max-width: 1400px) {
  .statistics-item p {
    font-size: 26px
  }
}

@media (max-width: 1023px) {
  .logo {
    display: none;
  }

  h2 {
    font-size: 2.963vw !important;
    /*margin-bottom: 4.321vw !important;*/
    margin-bottom: 20px !important;
  }

  .desc {
    margin-top: 0;
    font-size: 1.852vw;
    
  }

  .statistics {
    margin-bottom: 2.938vw !important;
  }

  .statistics-item .statistics-desc {
    margin-top: 10px;
    font-size: 18px;
  }

  .button {
    padding: 10px 50px;
    font-size: 14px;
  }
}

@media (max-width: 668px) {
  .statistics-item p {
      font-size: 16px;
    }
}

</style>
