<template>

    <div>
        <div class="results">
          <div class="container">

            <div class="layout">
              <div class="layout-head">
                <div class="header-box">
                <appHeaderSteps :stageNum="stageNum" :lawCase="1" :isBackButton="true" :lawCaseId="lawCaseId" :isLast="true"  @rewindStep="rewindStep"></appHeaderSteps>
            </div>
              </div>
              <div class="layout-content">
                  <div class="layout-content-strech">
                    <div>

                      <h2 class="title">
                          {{lawCase.resultSummaryText}}
                        </h2>
                        <div class="statistics"v-for="(stat, index) in statVerdict">
                        <h3 v-if="statVerdict.length>1">{{lawCase.person[index]}}</h3>
                          <div class="statistics-inner">
                            <div class="statistics-item">
                              <stat :diameter="diameter"
                                    :strokeWidth="strokeWidth"
                                    :innerStrokeWidth="innerStrokeWidth"
                                      :completed-steps="completedSteps"
                                      :total-steps="totalSteps"
                                      :innerStrokeColor="innerStrokeColor"
                                      :startColor="startColor"
                                      :stopColor="stopColor"
                                      :animateSpeed="animateSpeed"
                                      >
                                    <transition name="fade">
                                      <p v-if="!isAnimate">{{ stat.statisticsVerdict[0].values[0].number }}%</p>
                                    </transition>
                              </stat>
                              <div class="content">
                                <div class="name">{{lawCase.caseType}} 1</div>
                                <div class="desc">{{stat.statisticsVerdict[0].values[0].value}}</div>
                              </div>
                            </div>
                            <div class="statistics-item">
                              <stat :diameter="diameter"
                                    :strokeWidth="strokeWidth"
                                    :innerStrokeWidth="innerStrokeWidth"
                                      :completed-steps="completedSteps"
                                      :total-steps="totalSteps"
                                      :innerStrokeColor="innerStrokeColor"
                                      :startColor="startColor"
                                      :stopColor="stopColor"
                                      :animateSpeed="animateSpeed"
                                      >
                                    <transition name="fade">
                                      <p v-if="!isAnimate">{{ stat.statisticsVerdict[0].values[1].number }}%</p>
                                    </transition>
                              </stat>
                              <div class="content">
                                <div class="name">{{lawCase.caseType}} 2</div>
                                <div class="desc">{{stat.statisticsVerdict[0].values[1].value}}</div>
                              </div>
                            </div>
                            <div class="statistics-item">
                              <stat :diameter="diameter"
                                    :strokeWidth="strokeWidth"
                                    :innerStrokeWidth="innerStrokeWidth"
                                      :completed-steps="completedSteps"
                                      :total-steps="totalSteps"
                                      :innerStrokeColor="innerStrokeColor"
                                      :startColor="startColor"
                                      :stopColor="stopColor"
                                      :animateSpeed="animateSpeed"
                                      >
                                    <transition name="fade">
                                      <p v-if="!isAnimate">{{ stat.statisticsVerdict[0].values[2].number }}%</p>
                                    </transition>
                              </stat>
                              <div class="content">
                                <div class="name">{{lawCase.caseType}} 3</div>
                                <div class="desc">{{stat.statisticsVerdict[0].values[2].value}}</div>
                              </div>
                            </div>
                          </div>

                        </div>

                    </div>
                    <div>
                      <div class="center">
                          <div class="button" @click="openTyp">Zakończ sparawę</div>
                      </div>
                    </div>

                  </div>

              </div>
          </div>
      </div>
    </div>
  </div>
</template>

<script>
import HeaderSteps from '~/components/HeaderSteps';
import stat from '~/components/Stat';
import dragVerify from 'vue-drag-verify'

export default {
  components: {
    'appHeaderSteps': HeaderSteps,
    stat,
    dragVerify
  },
  props: ['lawCase', 'stageNum', 'isIntro', 'collectedAnswers', 'statVerdict', 'penaltyProposals', 'lawCaseId'],
  data () {
    return {
      view: 'appVideo',
      completedSteps: 0,
      totalSteps: 100,
      diameter: 230,
      strokeWidth: 17,
      innerStrokeWidth: 17,
      startColor: '#0054EF',
      stopColor: '#0054EF',
      innerStrokeColor: '#304f94',
      animateSpeed: 1000,
      isAnimate: true,
      windowW: '',
    }
  },
  computed: {
    
  },
  methods: {
    openTyp(){
      this.$store.dispatch('setVote', this.collectedAnswers).then(() => {
        this.$router.push({path: "/typ"});
      })
    },
    rewindStep(){
        this.$emit('rewindStep', {backToEndVideo: true})
      },
      callback() {
        this.$router.push({path: '/law-cases/'});
      },
      resizeHander() {
        this.windowW = window.innerWidth
        if(this.windowW < 1400) {
          this.diameter = 160;
          this.strokeWidth = 12;
          this.innerStrokeWidth = 12;
        }
        if (this.windowW < 1023){
          this.diameter = 120
        } 

        if (this.windowW < 668){
          this.diameter = 100
        } 
        
        if (this.windowW >= 1400){
          this.diameter = 230;
          this.strokeWidth = 17;
          this.innerStrokeWidth = 17;
        }
      }
  },
  mounted() {
    this.completedSteps= 39;
    let self = this;
    setTimeout(function(){
      self.isAnimate = false;
    },self.animateSpeed);

    window.addEventListener('resize', this.resizeHander)
    
  },
  created(){
    this.resizeHander()
  },
  destroyed() {
    window.removeEventListener("resize", this.resizeHander);
  },
}
</script>

<style scoped>


.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.header-box {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
}

.header-head {
  color: #FFFFFF;
  font-size: 38px;
  font-weight: 700;
  line-height: 1.37;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

}

.results {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  background: #fff;
  background: linear-gradient(165.22deg, #1851CC 0%, #000000 100%);
  overflow: auto;
}

.results-items {
  display: flex; 
  justify-content: center; 
  margin-bottom: 123px;
}

.results-items .item {
  flex-grow: 1;
  flex-basis: 0;
}

h2 {
  width: 100%;
  color: #FFFFFF;
  font-family: "Open Sans";
  font-size: 38px;
  font-weight: 700;
  line-height: 1.35;
  margin-bottom: 104px;
}

.button {
  display: block;
  color: #FFFFFF;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  background: #27A9E0;
  padding: 14px 38px;
  border-radius: 25px;
  text-decoration: none;
  transition: 0.3s;
  margin-left: auto;
  cursor: pointer;
  white-space: nowrap
}

.button:hover {
  background: #fff;
  color: #27A9E0;
}

.header {
  margin-top: 56px;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 28px;
}

.desc {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 1.375;
  text-align: center;
}

.list-cases {
  cursor: pointer;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  background: transparent;
  padding: 10px 20px;
  border-radius: 22px;
  transition: 0.3s;
  outline: none;
  position: absolute;
}

.list-cases:hover {
  background: #27A9E0;
}

.list-cases .icon {
  margin-right: 20px;
}

.list-cases .icon:before {
  color: #fff;
  font-size: 24px;
}

.list-cases .txt a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

.statistics {
  margin-bottom: 100px;
}

.statistics-inner {
  display: flex; 
  justify-content: center; 
  align-items: flex-start;
}

.statistics h3 {
  color: #fff;
  font-size: 28px;
  margin-bottom: 30px;
}

.statistics-item {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.statistics-item .content {
  width: 100%;
  text-align: center;
}

.statistics-item .content .name {
  padding-top: 1vw;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 1vw;
}

.statistics-item p {
  font-size: 32px;
  font-weight: 700;
  color: #fff;
}

@media (max-width: 1400px) {
  .statistics-item p {
    font-size: 26px
  }

  .title {
    margin-bottom: 40px
  }
}

@media (max-width: 1023px) {

  h2 {
    font-size: 2.963vw !important;
    margin-bottom: 20px !important;
  }

  .statistics {
      margin: 30px 0 60px;
  }

  .statistics h3 {
    font-size: 24px;
  }
}

@media (max-width: 800px) {
  .button {
    font-size: 12px;
    padding: 7px 15px;
  }
}

@media (max-width: 668px) {
  .statistics-item p {
      font-size: 16px;
    }
}

</style>
