<template>

  <div class="video-container" :class="{'paused': paused}">
    <youtube :video-id="videoId" :videos="videos" @ready="ready" @ended="next" @playing="playing" :player-width="playerWidth" :player-height="playerHeight" :player-vars="{autoplay: 1, rel:0, cc_load_policy: 1, controls:0, playsinline:1}"></youtube>
    <div class="play-init-wrapper" v-if="!isPlaying">
      <div class="play-init" @click="play" :class="{active: isPlayActive}"><span class="icon-play"></span><img src="~/assets/img/svg/spinner.svg" alt=""></div>
    </div>
    <div class="video-cover" @click="pause"></div>

      <div class="video-nav">

        <div class="layout">
          <div class="layout-head" v-if="!isIntro">
            <appHeaderSteps  :isEndVideo="isEndVideo" :stageNum="stageNum" :lawCaseId="lawCaseId" :progress="progress"></appHeaderSteps>
          </div>
          <div class="layout-content">
            <div class="layout-content-strech">
            <div v-if="isIntro" class="header-intro">Wstęp</div>
              <div class="nav-container-wrapper">
                <div class="container">
                <div class="nav-container">
                  <div class="video-nav-content">
                  <div class="video-nav-prev" v-if="!firstStep" :class="{'inactive' : disablePrev}"  @click="prev"><span class="icon-arrow"></span>Poprzedni</div>
                  <div class="video-nav-prev" v-if="firstStep" @click="prev">Poprzedni</div> 

                  <div class="buttons">
                    <div class="video-nav-rewind" @click="rewind"><span class="icon-skip"></span></div>
                    <div class="video-nav-play" @click="play"><span class="icon-play"></span></div>
                    <div class="video-nav-skip" @click="seek"><span class="icon-skip-fw"></span></div>
                  </div>

                  <div @click="next" class="video-nav-next">{{nextButtonText}}<span class="icon-arrow"></span></div>
                  </div>
                </div>
                </div>
              </div>
              <div v-if="!isIntro">
              <div class="center">
                <drag-verify  @passcallback="callback" 
                    :width="300" 
                    :height="40" 
                    background="#fff"
                    progressBarBg="#27A9E0"
                    completedBg="#27A9E0"
                    textSize="13px"
                    successText="Ładowanie..."
                    handler-icon="icon icon-swipe" 
                    handler-bg="#27A9E0" 
                    text="Przesuń, aby przejść do listy spraw" 
                  >
              </drag-verify>
            </div>
            </div>
              </div>
            </div>
          </div>
          </div>
        </div>

    </div>

  </div>
</template>

<script>

import HeaderSteps from '~/components/HeaderSteps';
import dragVerify from 'vue-drag-verify'

export default {
  components: {
    'appHeaderSteps': HeaderSteps,
    dragVerify
  },
  data () {
     return {
       videoId: '',
       paused: false,
       videoIndex: 0,
       isPlaying: false,
       isPlayActive: false
     }
  },
  props: ['lawCaseId','videos' , 'isIntro', 'stageNum', 'isEndVideo', 'progress', 'firstStep', 'backToLastVideo', 'lawCaseId'],
    computed: {
      playerWidth() {
        if (process.browser){
          return window.innerWidth;
        }

      },
      disablePrev() {
        if (this.isIntro) return true
      },
      nextButtonText() {
        if (this.isEndVideo) {
          return 'Zakończ'
        } else {
          return "Następny"
        }
      },
      playerHeight() {
        if (process.browser){
          return window.innerHeight;
        }
      }
    },
    methods: {
      callback() {
        this.$router.push({path: '/law-cases/'});
      },
      ready (event) {
        this.player = event.target;
        if (this.backToLastVideo) {
          this.videoId = this.videos[this.videos.length-1]
        }else {
          this.videoId = this.videos[0]
        }
      },
      playing (event) {
        // The player is playing a video.
        this.isPlaying = true;
        this.isPlayActive = false;
      },
      change (id) {
        // when you change the value, the player will also change.
        // If you would like to change `playerVars`, please change it before you change `videoId`.
        // If `playerVars.autoplay` is 1, `loadVideoById` will be called.
        // If `playerVars.autoplay` is 0, `cueVideoById` will be called.
          this.paused = false;
          this.videoId = this.videos[id]

      },
      play () {
        this.player.playVideo()
        this.paused = false;
        this.isPlayActive = true;
      },
      stop () {
        this.player.stopVideo()
      },
      pause () {
        if (this.player) {
          this.player.pauseVideo()
          this.paused = true
        }
      },
      seek () {
        this.player.seekTo(this.player.getCurrentTime() + 15)
      },
      rewind () {
        this.player.seekTo(this.player.getCurrentTime() - 15)
      },
      handleResize() {

      },
      next(){

        if (this.isEndVideo) {

          this.$emit('summary')

        } else {
          this.videoIndex++

          if (this.videoIndex < this.videos.length) {
            this.change(this.videoIndex)
            this.$emit('nextVideo')
          } else {
            this.$emit('itemsEnded')
          }
        }

      },
      prev(){

        if (this.firstStep) {
          this.$emit('backToStart')
          return
        }

        this.videoIndex--

        if (this.videoIndex >= 0) {
          this.change(this.videoIndex)
          this.$emit('prevVideo')

        } else {
          this.$emit('rewindStep', {})
        }

      },
      resizeHander() {

      }
    },
    mounted() {
      if (this.backToLastVideo) {

          this.videoIndex= this.videos.length-1
        }else {

          this.videoIndex= 0
        }

        this.resizeHander();
        window.addEventListener('resize', this.resizeHander);
    },
    destroyed() {
      window.removeEventListener("resize", this.resizeHander);
    },
}

</script>

<style scoped>

.header-intro {
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 34px;
}

.video-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #001747;

}
.video-container iframe {
  display: block
}


.video-container .video-cover {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(1,8,50,1) 25%, rgba(0,29,90,0.4802696078431373) 100%);
  opacity: 0;
  transition: 0.4s;
  z-index: 11;
}


.video-container.paused .video-cover {
  opacity: 1; 
  z-index: 9;
}


.video-nav {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: 0.4s;
}


.nav-container-wrapper {
  width: 100%;
}

.video-nav .video-nav-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.video-nav .video-nav-rewind,
.video-nav .video-nav-skip {
  font-size: 51px;
  cursor: pointer;
}

.video-container.paused .video-nav {
  opacity: 1;
}

.video-nav .buttons {
  display: flex;
  align-items: center;
}

.video-nav .buttons .video-nav-play {
  margin: 0 168px;
  background: #fff;
  border-radius: 50%;
  width: 108px;
  height: 108px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.video-nav .buttons .video-nav-play:hover {
  background: #27A9E0;
}

.video-nav .buttons .video-nav-play .icon-play:before {
  transition: 0.3s;
}

.video-nav .buttons .video-nav-play:hover .icon-play:before {
  color: #fff;
}

.video-nav .buttons .video-nav-play .icon-play {
  font-size: 29px;
  margin-left: 6px;
}

.video-nav-prev.inactive {
  visibility: hidden;
}

.video-nav-prev,
.video-nav-next {
  font-size: 16px;
  color: #fff;
  padding: 14px 18px;
  border-radius: 23px;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  line-height: 1;
  cursor: pointer;
  background: transparent;
  transition: 0.3s;
  color: #fff;
}

.video-nav-prev:hover,
.video-nav-next:hover {
  background: #27a9e0;
  border-color: #27a9e0;
} 

.video-nav-prev:hover .icon-arrow:before,
.video-nav-next:hover .icon-arrow:before {
  color: #fff;
}

.video-nav-prev .icon-arrow {
  font-size: 10px;
  transform: rotate(180deg);
  display: inline-block;
  margin-right: 12px;
}
.video-nav-next .icon-arrow {
  font-size: 10px;
  margin-left: 12px;
}


@media (max-width: 1023px) {

  .play-init-wrapper {
      position: absolute;
      top:0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 100;
  }

  .play-init {
    position: absolute;
    top: 0;
    
    max-width: 90px;
    max-height: 90px;
    width: 13.084vw;
    height: 13.084vw;
    left: 50%;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%) translateY(-50%);
    padding: 3vw;
    border-radius: 50%;
    background: #fff;
  }

  .play-init img {
    display: none;
  }

  .play-init .icon-play {
      font-size: 2.956vw;
      margin-left: 6px;
  }

  .play-init.active img {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 65%;

  }

  .header-intro {
    font-size: 2.956vw;
    margin-top: 2.217vw;
  }

  .video-nav .buttons .video-nav-play {
    max-width: 90px;
    max-height: 90px;
    width: 11.084vw;
    height: 11.084vw;
    margin: 0 7.389vw;
  }

  .video-nav .buttons .video-nav-play .icon-play {
    font-size: 2.956vw;
  }

  .video-nav .video-nav-rewind, .video-nav .video-nav-skip {
    font-size: 4.310vw;
  }

  .nav-container {
    padding: 0 8vw;
  }

  .video-nav-prev, .video-nav-next {
    padding:  1.724vw 2.217vw;
    font-size: 1.970vw;
  }

  .video-nav-prev .icon-arrow {
    font-size: 1.232vw;
  }
  
}

</style>
