@font-face {
  font-family: 'AvenirLTStd-Roman';
  src: url('../fonts/AvenirLTStd-Roman.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/AvenirLTStd-Roman.otf')  format('opentype'),
       url('../fonts/AvenirLTStd-Roman.woff') format('woff'), 
       url('../fonts/AvenirLTStd-Roman.ttf')  format('truetype'), 
       url('../fonts/AvenirLTStd-Roman.svg#AvenirLTStd-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStd-Black';
  src: url('../fonts/AvenirLTStd-Black.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/AvenirLTStd-Black.otf')  format('opentype'),
       url('../fonts/AvenirLTStd-Black.woff') format('woff'), 
       url('../fonts/AvenirLTStd-Black.ttf')  format('truetype'), 
       url('../fonts/AvenirLTStd-Black.svg#AvenirLTStd-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis-Medium';
  src: url('../fonts/Metropolis-Medium.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/Metropolis-Medium.otf')  format('opentype'),
       url('../fonts/Metropolis-Medium.woff') format('woff'), 
       url('../fonts/Metropolis-Medium.ttf')  format('truetype'), 
       url('../fonts/Metropolis-Medium.svg#Metropolis-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

.home-page {
    background: url('./../img/bg_home.png') 50% 50%/cover no-repeat;
}

.cases-page {
  background: url('./../img/bg_lista.png') 50% 50%/cover no-repeat;
}

.typ-page {
  background: url('./../img/bg_thp.png') 50% 50%/cover no-repeat;
}

.contact-page {
  background: url('./../img/bg_contact.png') 50% 50%/cover no-repeat;
}

.single-case-page {
  background: linear-gradient(165.22deg, #001d5a 0%, #011544 100%);
}

.center {
  display: table;
  margin: 0 auto;
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.layout .layout-head,
.layout .layout-content {
  width: 100%;
}

.layout .layout-content {
  padding: 3.2vw 0;
}

.layout-content-strech {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

iframe {
  height: 100vh !important;
  width: 100% !important;
  min-height: -webkit-fill-available;
}

.layout-content-strech > div {
  width: 100%;
}

.align-bottom {
  align-self: flex-end;
}

.drag_verify {
  margin-top: 5vw;
}

.drag_verify .dv_handler {
  box-sizing: content-box;
  border-color: transparent !important;
}

.dv_handler.dv_handler_bg.dv_handler_ok_bg i {
  display: none;
}

.drag_verify {
  background: rgba(255,255,255, .6) !important;
}

.drag_verify .dv_text {
  font-weight: 700;
  padding-left: 35px;
}

.drag_verify .dv_handler i:before {
  font-size: 18px;
  color: #fff;
}

.about-page {
  background: #f6fcff;
}

.logo {
    margin: 0 auto 0;
    display: block;
    width: 12.500vw;
  }

  .container {
    margin: 0 auto;
    width: 1500px;
    flex-wrap: wrap;
    align-content: center;
}



body {
  min-height: 100vh;
  
}


[v-cloak] {
  display: none!important;
}

.cloak-fade:not([v-cloak]) {
  opacity: 0;
  -webkit-animation-name: cloak-fade-in;
  animation-name: cloak-fade-in;
  -webkit-animation-duration: .8s;
  animation-duration: .8s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

body.portrait {  
  position: relative;
}

body.portrait:after {  
  position: fixed;
  content: "Obróć telefon";
  display: block;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(165.22deg, #1851CC 0%, #000000 100%);
  z-index: 999999999;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

@media (max-width: 1530px) {
  .container {
    width: 1200px;
  }
}

@media (max-width: 1230px) {
  .container {
    width: 992px;
    padding: 0 20px;
  }
  
}

@media (max-width: 1023px) {
  .container {
    width: 100%;
    flex-wrap: wrap;
    align-content: center;
}

}

@media (max-height: 750px) {
  .layout .layout-content {
    padding: 2.2vw 0;
}
}