<template>
<div class="container">
    <div class="layout">
        <div class="layout-head">
            <appHeader :noList="true"></appHeader>
        </div>
        <div class="layout-content">
            <div class="layout-content-strech">
                <div>
                    <div class="contact-row">
                        <div class="col-data">
                            <div class="item">
                                <div class="icon-box">
                                    <span class="icon icon-address"></span>
                                </div>
                                <div class="content-box">
                                    <div class="name">Fundacja ProPublika</div>
                                    <div class="desc">
                                        ul. Tarasa Szewczenki 29b<br>
                                        51-351 Wrocław
                                    </div>
                                </div>
                            </div>
                            <div class="item item-email">
                                <div class="icon-box">
                                    <span class="icon icon-email"></span>
                                </div>
                                <div class="content-box">
                                        fundacja{małpa}propublika.pl
                                </div>
                            </div>
                            <div class="item">
                                <div class="icon-box">
                                    <span class="icon icon-phone"></span>
                                </div>
                                <div class="content-box">
                                    +48 71 715 23 60
                                </div>
                            </div>
                            <div class="item">
                                <div class="icon-box">
                                    <span class="icon icon-icons-globe"></span>
                                </div>
                                <div class="content-box">
                                    <a href="https://www.propublika.pl/" target="_blank" class="desc">
                                        www.propublika.pl
                                    </a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="socials">
                                    <span class="label-box">Dołącz do nas</span>
                                    <div class="items">
                                        <!--<a href="#"><i class="icon icon-in"></i></a>-->
                                        <a href="https://www.facebook.com/FundacjaProPublika/" target="_blank"><i class="icon icon-fb"></i></a>
                                        <!--<a href="#"><i class="icon icon-tw"></i></a>-->
                                        <a href="https://www.youtube.com/channel/UCWRG9GOdkQwVMV5EeBhfMhA" target="_blank"><i class="icon icon-youtube"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div>
                    <div class="footer">
                        <div class="logotypes">
                            <img src="~/assets/img/propublika_logo.png" alt="">
                            <img src="~/assets/img/fio_logo.png" alt="">
                        </div>
                        <nuxt-link class="link" to="/policy">Polityka prywatności</nuxt-link> 
                     </div>
                </div>
            </div>

        </div>
    </div>
</div>
</template>

<script>

import Header from '~/components/Header';


export default {
  components: {
      'appHeader': Header
  },
  data () {
    return {

    }
  },
  head: {
    bodyAttrs: {
      class: 'contact-page'
    }
  },
  methods: {

  },
  mounted() {

  }
}
</script>

<style scoped>


  .head {
      align-self: flex-start;
  }

  .logo {
      margin-bottom: 215px
  }

  .contact-row {
      display: flex;
      justify-content: center;
      margin: 5vw 0;
  }

  .contact-row .col-desc {
      flex-grow: 1;
      padding-right: 7.6%;
      padding-top: 50px;
  }

  .contact-row .col-desc h1 {
      font-size: 48px;
      font-weight: 700;
      color: #fff;
      margin-bottom: 29px;
  }

  .contact-row .col-desc .desc {
      font-size: 16px;
      line-height: 1.375;
      color: #fff;
      margin-bottom: 30px;
  }

  .socials {
        display: flex;
        align-items: center;
    }

    .socials .label-box {
        color: #fff;
        font-size: 16px;
        font-family: 'Metropolis-Medium';
        margin-right: 20px;
        margin-top: 4px;
    }

    .socials .items {
        display: flex;
    }

    .socials .items a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background: transparent;
        border-radius: 4px;
        margin: 0 5px;
        text-align: center;
        text-decoration: none;
        transition: 0.3s;
    }
    
    .socials .items a .icon {
        font-size: 24px;
    }

    .socials .items a:hover {
        background: #fff;
    }

  .contact-row .col-data {
      border: 1px solid #388AF7;
      border-radius: 20px;
      padding: 45px 50px;
      flex-shrink: 0;
      width: 100%;
  }
  
  .contact-row .col-data .icon {
      font-size: 34px;
      display: inline-block;
  }

  .contact-row .col-data .icon-box {
      min-width: 3vw;
  }

  .contact-row .col-data .item {
      display: flex;
      margin-bottom: 40px;
  }

  .contact-row .col-data .item .name {
      font-weight: 700;
      margin-bottom: 6px;
  }

  .contact-row .col-data .item:last-child {
      margin-bottom: 0;
  }

  .contact-row .col-data .item .icon-box {
      flex-shrink: 0;
      margin-right: 30px;
  }

  .contact-row .col-data .item.item-email .icon {
      font-size: 26px;
  }

  .contact-row .col-data .item .content-box,
  .contact-row .col-data .item .content-box a {
      font-size: 18px;
      color: #fff;
      text-decoration: none;
  }

  .contact-row .col-data .item .content-box a:hover {
      text-decoration: underline;
  }

  .footer {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 40px;
  }

  .footer .logotypes {
      display: flex;
      align-items: center;
      
  }

  .footer .logotypes img {
      margin-right: 68px;
  }

  .footer .link {
      color: #fff;
      text-decoration: none;
      font-size: 13px;
      transition: 0.3s;
  }

  .footer .link:hover {
      color: #39A7DE;
  }

  @media (min-width: 600px) {
      .contact-row .col-data {
        width: 52%;
        padding-left: 5vw;
    }
  }

  @media (min-width: 1022px) {
      .contact-row .col-data {
        width: 42%;
        
    }
  }

  @media (max-width: 1230px) {
      .contact-row .col-desc h1 {
          font-size: 38px;
      }
  }

  @media (max-width: 1023px) {

    

    .contact-row {
        margin: 0;
    }

      .contact-row .col-desc h1 {
        font-size: 25px;
        }

        .contact-row .col-desc {
            padding-top: 27px;
            padding-right: 27px;
        }

        .contact-row .col-data .item {
            margin-bottom: 30px
        }

        .contact-row .col-data {
            padding: 20px;
        }

        .contact-row .col-data .icon {
            font-size: 26px;
        }

        .contact-row .col-data .item .icon-box {
            margin-right: 20px;
        }

        .contact-row .col-data .item.item-email .icon {
            font-size: 18px;
        }

        .contact-row .col-data .item .content-box, 
        .contact-row .col-data .item .content-box a {
            font-size: 16px;
        }

        .footer {
            display: none;
        }
  }

  @media (max-width: 668px) {
      .contact-row .col-desc h1 {
            font-size: 22px;
            margin-bottom: 10px;
        }

        .contact-row .col-data .item .content-box, 
        .contact-row .col-data .item .content-box a {
            font-size: 14px;
        }

        .contact-row .col-desc .desc {
            font-size: 14px;
        }

        .contact-row .col-data .item {
            margin-bottom: 20px
        }

        .socials .items a .icon {
            font-size: 20px;
        }

        .socials .items a {
            width: 30px;
            height: 30px;
        }

        .socials .label-box {
            font-size: 14px;
        }
  }

</style>
