<template>
  <div class="container">
    <div class="layout">
        <div class="layout-head">
          <appHeader class="header" noList="true" noNav="true"></appHeader>
        </div>
        <div class="layout-content">
            <div class="layout-content-strech">
              <div>
                <div class="logo-mobile"><img src="~assets/img/logo.svg" width="240"></div>
              </div>
              <div>
                  <!--<nuxt-link class="mobile-link" to="/about_project">O projekcie</nuxt-link>-->
                  <nuxt-link class="mobile-link" to="/contact">Kontakt</nuxt-link>
                  <div class="main">
                      <h1 class="title">
                          Jak sprawdzisz się<br>
                          w roli osoby wydającej wyrok?
                      </h1>
                      <h2 class="subtitle">
                          Poznaj sprawę. Wydaj wyrok. Porównaj go z decyzją sędziego.
                      </h2>
                      <button @click="start" class="start-button"><span class="icon icon-play_white"></span><span class="txt">Wejdź na salę rozpraw</span></button>
                  </div>
              </div>
              <div class="mobile-policy">
                  Polityka prywatności
                </div>
              <div class="feature-wrapper">
                <appFeatures></appFeatures>
              </div>
              <div class="align-bottom">
                <div class="logotypes">
                  <a href="https://www.propublika.pl" target="_blank"><img src="~/assets/img/propublika_logo.png" class="logo-propublica" alt=""></a>
                  <img src="~/assets/img/fio_logo.png" alt="">
                  <div class="links">
                      <!--<nuxt-link class="link" to="/about_project">O projekcie</nuxt-link>-->
                      <nuxt-link class="link" to="/contact">Kontakt</nuxt-link>
                      <nuxt-link class="link" to="/policy">Polityka prywatności</nuxt-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <div>
    </div>
    <component :videos="IntroVidIDs" :currentStep="currentStep" v-bind="props" :isIntro="true" :ref="view" @itemsEnded="nextStep" :is="view"></component>
  </div>

</template>

<script>
import Header from '~/components/Header';
import Video from '~/components/Video';
import Features from '~/components/Features';
import Questionnaire from '~/components/Questionnaire';
import QuestionnaireResults from '~/components/QuestionnaireResults';


export default {
  components: {
    'appVideo' : Video,
    'appQuestionnaire': Questionnaire,
    'appQuestionnaireResults': QuestionnaireResults,
    'appFeatures': Features,
    'appHeader': Header
  },
  data () {
    return {
      stat: '',
      view: '',
      IntroVidIDs: '',
      currentStep: '',
    }
  },
  head: {
    bodyAttrs: {
      class: 'home-page'
    }
  },

  computed: {
    props() {
      if (this.view == 'appQuestionnaire') {
        return {
          statisticsIntro: this.statisticsIntro
        }
      };
    },
  },
  async asyncData(context) {

        let videosIntro = await context.app.$axios.$get(process.env.apiUrl + '/videosIntro/');
        let statisticsIntro = await context.app.$axios.$get(process.env.apiUrl + '/statisticsIntro');

        return {
            videosIntro: videosIntro.videosIntro,
            statisticsIntro: statisticsIntro.statisticsIntro[0]
        }

    },
  methods: {
    start(){

      let vidIDs = [];

      let allVidoes = this.videosIntro;

      //get all intro videos
      for (const videoId in allVidoes[0].ytID) {
        vidIDs.push(allVidoes[0].ytID[videoId].value)
      };

      this.IntroVidIDs = vidIDs;

      this.view = 'appVideo'
    },
    nextStep(data) {

      this.view = 'appQuestionnaire'

      if (data == 'questionnaire') {
        this.view = 'appQuestionnaireResults'
      }
    },

  },
  mounted() {
    this.$store.dispatch('setSlideIndex', Math.floor(Math.random() * 9))
  }
}
</script>

<style scoped>

  .home {
    display: flex;
    min-height: 100vh;
    align-items: center;
    flex-wrap: wrap;
  }

  .logo-mobile {
    display: none
  }

  .mobile-link {
    display: none;
  }

  .main {
    width: 100%;
    margin-bottom: 3.2vw;
  }

  .mobile-policy {
    display: none;
  }

  .home-page h1 {
    width: 100%;
    color: #FFFFFF;
    font-family: "Open Sans";
    font-size: 2.5vw;
    line-height: 1.35;
    font-weight: 700;
    text-align: center;
    /*margin-top: 133px;
    margin-bottom: 55px;*/
    margin-bottom: 1.875vw;
  }

  .home-page h2 {
    width: 100%;
    color: #FFFFFF;
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 1.375;
    font-weight: 400;
    text-align: center;
    align-self: flex-start;
    margin-bottom: 3.281vw;
  }

  .start-button {
    background: #27A9E0;
    border-radius: 30px;
    display: flex;
    align-items: center;
    border: none;
    padding: 1vw 1.6vw;
    outline: none;
    cursor: pointer;
    margin: 0 auto;
    align-self: flex-start;
    transition: 0.3s;
  }

  .start-button:hover {
    background: #fff;
  }

  .start-button:hover .txt,
  .start-button:hover .icon:before {
    color: #27A9E0;
  }

  .start-button .icon {
    margin-right: 15px;
    margin-top: 1px;
    transition: 0.3s;
    font-size: 1vw;
  }

  .start-button .txt {
    color: #FFFFFF;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 700;
    white-space: nowrap;
    transition: 0.3s;
  }

  .home-page .logotypes {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 3.2vw;
    align-self: flex-end;
  }

  .logo {
    margin-top: 3.2vw;
    margin-bottom: 5.927vw;
    align-self: flex-start;
  }

  .logo-propublica {
    width: 180px;
  }

  .home-page .logotypes img {
    margin-right: 69px;
  }

  .home-page .logotypes  .links {
    margin-left: auto;
  }

  .home-page .logotypes  .link {
      color: #fff;
      text-decoration: none;
      font-size: 13px;
      transition: 0.3s;
      margin-left: 40px;
  }

  .home-page .logotypes  .link:hover {
      color: #39A7DE;
  }

  .features {
    width: 100%;
  }

  @media (max-width: 1600px) {
    .logo {
      margin-bottom: 3.45vw;
    }
  }

  @media (max-width: 1023px) {

    .layout-head {
      display: none
    }

    .header {
    display: none
  }

  .logo-mobile {
    display: block;
    width: 20.2vw;
    margin-left: 37px;
    margin-bottom: 6vw;
  }

  .logo-mobile img {
    max-width: 100%;
  }

    .main {
      position: relative;
    }

    .mobile-link {
      position: absolute;
      display: block;
      font-size: 1.970vw;
      color: #fff;
      right: 40px;
      top: 40px;
      text-decoration: none;
      font-weight: 600;
    }

    .mobile-policy {
      display: table;
      font-size: 1.601vw;
      color: #fff;
      margin-right: 20px;
      margin-left: auto;
      width: auto;
      align-self: flex-end;
      margin-bottom: 3.2vw
    }

    .logo {
      margin: 0 0 49px 38px;
      width: 164px;
      padding-top: 23px;
    }

    .home-page h1 {
      font-size: 4vw;
      line-height: 1.35;
      margin: 0 0 18px 37px;
      text-align: left;
      width: 50%;
    }

    .home-page h1 br {
      display: none;
    }

    .home-page h2 {
      font-size: 2vw;
      margin: 0 0 18px 37px;
      text-align: left;
      width: 50%;
    }

    .home-page .features,
    .home-page .logotypes {
      display: none;
    }

    .start-button {
      margin: 0;
      position: absolute;
      height: 6vw;
      padding: 0 3vw;
      right: 20px;
      bottom: 0;
    }

    .start-button .txt {
      font-size: 2vw;
    }

    .start-button img {
      height: 2.1vw;
      margin-right: 2.2vw;
    }

    .feature-wrapper {
      display: none
    }

    .align-bottom {
      display: none
    }
  }

</style>
