<template>
    <div class="container">

        <appHeader :noList="true"></appHeader>

        <div class="content-page">

            <h2>Polityka prywatności</h2>

            <h3>1. Informacje ogólne:</h3>
            <ol>
                <li>Niniejsza Polityka jest dokumentem informacyjnym.</li>
                <li>Właścicielem Serwisu www.wydaj-wyrok.pl jest Fundacja ProPublika z Wrocławia.</li>
                <li>
                    Serwis realizuje funkcje pozyskiwania informacji o użytkownikach i ich zachowaniu w następujący sposób:
                    <ul>
                        <li>Poprzez dobrowolnie wprowadzone w formularzach informacje.</li>
                    </ul>
                    <ul>
                        <li>Poprzez zapisywanie w urządzeniach końcowych pliki cookie (tzw. &#8222;ciasteczka&#8221;).</li>
                    </ul>
                    <ul>
                        <li>Poprzez gromadzenie logów serwera www.</li>
                    </ul>
                </li>
            </ol>
            <h3>2. Informacje w formularzach:</h3>
            <ol>
                <li>Serwis korzysta z informacji podanych dobrowolnie przez użytkownika.</li>
                <li>Serwis może zapisać informacje o parametrach połączenia (oznaczenie czasu, adres IP, typ przeglądarki, rodzaj systemu operacyjnego).</li>
                <li>Dane w formularzu nie są udostępniane podmiotom trzecim inaczej, niż za zgodą użytkownika.</li>
            </ol>
            <h3>3. Logi serwera:</h3>
            <ol>
                <li>Informacje o niektórych zachowaniach użytkowników podlegają logowaniu w warstwie serwerowej. Dane te są wykorzystywane wyłącznie w celu administrowania serwisem oraz w celu zapewnienia jak najbardziej sprawnej obsługi świadczonych usług hostingowych.</li>
                <li>
                    Przeglądane zasoby identyfikowane są poprzez adresy URL. Ponadto zapisowi mogą podlegać:
                    <ul>
                        <li>czas nadejścia zapytania,</li>
                        <li>czas wysłania odpowiedzi,</li>
                        <li>nazwę stacji klienta – identyfikacja realizowana przez protokół HTTP,</li>
                        <li>informacje o błędach jakie nastąpiły przy realizacji transakcji HTTP,</li>
                        <li>adres URL strony poprzednio odwiedzanej przez użytkownika (referer link) – w przypadku gdy przejście do Serwisu nastąpiło przez odnośnik,</li>
                        <li>informacje o przeglądarce użytkownika,</li>
                        <li>Informacje o adresie IP.</li>
                    </ul>
                </li>
                <li>Dane powyższe nie są kojarzone z konkretnymi osobami przeglądającymi strony.</li>
                <li>Dane powyższe są wykorzystywane jedynie dla celów administrowania serwerem.</li>
            </ol>
            <h3>4. Udostępnienie danych:</h3>
            <ol>
                <li>Dane podlegają udostępnieniu podmiotom zewnętrznym wyłącznie w granicach prawnie dozwolonych.</li>
                <li>Dane umożliwiające identyfikację osoby fizycznej są udostępniane wyłączenie za zgodą tej osoby.</li>
                <li>
                    Operator może mieć obowiązek udzielania informacji zebranych przez Serwis upoważnionym organom na podstawie zgodnych z prawem żądań w zakresie wynikającym z żądania.
                </li>
            </ol>



        </div>
        <div>
            <div class="footer">
                <div class="logotypes">
                    <img src="~/assets/img/propublika_logo.png" alt="">
                    <img src="~/assets/img/fio_logo.png" alt="">
                </div>
            </div>
        </div>


    </div>
</template>

<script>

import Header from '~/components/Header';


export default {
  components: {
      'appHeader': Header
  },
  data () {
    return {

    }
  },
  head: {
    bodyAttrs: {
      class: 'contact-page'
    }
  },
  methods: {

  },
  mounted() {

  }
}
</script>

<style scoped>

    .content-page {
        padding-top: 5vw;
        color: #fff;
    }

    .content-page h2{
        margin-bottom: 24px;
    }

    .content-page h3 {
        margin: 12px 0px;
    }

    .content-page p {
        color: #fff;
        line-height: 1.5;
        margin-bottom: 24px;
    }

    .content-page li {
        color: #fff;
        line-height: 1.5;
    }

    .footer {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin: 40px 0px 50px 0px;
    }

    .footer .logotypes {
        display: flex;
        align-items: center;
    }

    .footer .logotypes img {
        margin-right: 68px;
    }


</style>
