<template>
  <div class="container">
    <div class="layout">
      <div class="layout-head">
        <appHeader :noList="true"></appHeader>
      </div>
      <div class="layout-content">
          <div class="layout-content-strech">
            <div>
            <div class="parts">
              <div class="part-left">
                <div class="icon-header"><img src="~assets/img/svg/thumb.svg" alt=""></div>
                <h1>Dziękujemy za wzięcie udziału w sprawie</h1>
              </div>
              <div class="part-right">
                  <div class="form-info">
                      <div class="note">Czy chcesz żebyśmy przesłali Ci Twoje wyniki z przeprowadzonej sprawy sądowej na skrzynkę email? Podaj nam swój adres :</div>
                      <form class="email-form" @submit.prevent="onSubmit" novalidate>
                          <input type="email" class="email" placeholder="Email" v-model="email">
                          <button type="submit" class="button"><span class="icon icon-send"></span></button>
                          <div class="error">{{errorEmail}}</div>
                          <div class="success">{{sucessEmail}}</div>
                      </form>
                  </div>
                  <div class="center">
                  </div>
              </div>
            <div>

              </div>
            </div>
          </div>
          <div>
            <div class="center copy-fb">
              <p>Właśnie wymierzyłeś karę w sprawie sądowej.</p>

              <p>Podziel się tą informacją z innymi, niech Oni również zostaną sędziami!</p>
            </div>
            <div class="center">
              <a href="https://www.facebook.com/share.php?u=https://www.wydaj-wyrok.pl" target="_blank"><img src="~assets/img/sharefb.png" alt="" style="width:300px;"></a>
            </div>
            <div class="center">
              <nuxt-link to="/law-cases/" tag="button" class="list-btn">Lista Spraw</nuxt-link>
            </div>
          </div>
      </div>
  </div>

  </div>
    </div>
</template>

<script>
import Header from '~/components/Header';
import dragVerify from 'vue-drag-verify'

export default {
  components: {
    'appHeader': Header,
    dragVerify
  },
  data () {
    return {
      email:null,
      errorEmail: '',
      sucessEmail: '',
      reg: /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,24}))$/
    }
  },
  methods: {
    callback() {
      this.$router.push({path: '/law-cases/'});
    },
    onSubmit(event) {
        event.preventDefault();
          if(this.email == null || this.email == '')
        {
         
          this.errorEmail = "Proszę podać adres email";
        }
        else if(!this.reg.test(this.email))
        {
          this.errorEmail = "Adres email niepoprawny";
        } else  {

          let self = this;

          let vote = this.$store.getters.vote;

          vote.email = this.email;

          this.$axios.$post(process.env.apiUrl + '/sendStatistic', JSON.stringify(vote))
          .then(result => {

              if(result == 'ok'){
                  self.errorEmail = ''
                  self.sucessEmail = 'Wysłano email. Dziękujemy.'
                  self.email = null

                  document.querySelector(".form-info").style.display = "none";
                  
                  console.log(vote)

              } else {
                return { 'ok': false };
              }

          })
          .catch(e => { console.log(e) });

        }
    }
  },
  head: {
    bodyAttrs: {
      class: 'typ-page'
    }
  },
  mounted(){
    
  }
}
</script>

<style scoped>

  .typ-content {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    justify-content: center;
  }

  .typ-inner {
    padding-bottom: 5vw;
  }

  .list-btn {
    margin-top: 3vw;
    margin-bottom: 3vw;
    display: inline-block;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    border-radius: 25px;
    background-color: #27a9e0;
    box-shadow: 0 0 20px 0 rgba(39,169,224,.47);
    padding: 14px 44px 16px;
    cursor: pointer;
    transition: .3s;
    border: none;
    outline: none;
  }

  .list-btn:hover {
    background: #fff;
    color: #3AA7DE;
  }

  .icon-header {
      display: table;
      margin: 0 auto 2vw;
  }

  h1 {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    margin-bottom: 25px;
  }

  .note {
    font-size: 16px;
    text-align: center;
    color: #fff;
    margin-bottom: 50px;
  }

  .email-form {
      display: table;
      margin: 0 auto;
      width: 100%;
      max-width: 428px;
      position: relative;
  }

  .copy-fb {
    margin-bottom: 1vw;
  }

  .copy-fb p {
    text-align: center;
    color: #fff;
    margin-bottom: 5px;
  }

  .email-form .error {
    font-size: 18px;
    color: red;
    padding: 5px;
    text-align: center;
  }

  .email-form .success {
    font-size: 18px;
    color: green;
    font-weight: 700;
    padding: 5px;
    text-align: center;
  }

  .email-form .email {
    width: 100%;
    border: 1px solid #388AF7;
    border-radius: 20px;
    background: none;
    padding: 17px 97px 17px 37px;
    font-size: 20px;
    color: #fff;
    outline: none;

  }

  .email-form .button {
      position: absolute;
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 20px;
      background-color: #3AA7DE;
      width: 60px;
      height: 60px;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: 0.3s;
      outline: none;
  }

  .email-form .button .icon {
      font-size: 18px;
      margin-left: 2px;
  }

  .email-form .button .icon:before {
      transition: 0.3s;
  }
  .email-form .button:hover {
      background-color: #fff;
  }

  .email-form .button:hover .icon:before {
      color: #3AA7DE;
  }

  .email-form .email::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
    }

  .email-form .email:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
    }

  .email-form .email::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff;
    }

    .cta-wrapper {
        display: table;
        margin: 0 auto 3vw;
    }

    .cta {
        color: #000000;
        font-size: 14px;
        font-weight: 700;
        padding: 17px 22px 17px 61px;
        background: #fff;
        border: none;
        cursor: pointer;
        border-radius: 25px;
        position: relative;
        margin-bottom: 6vw;
        
    }

    .cta a {
      text-decoration: none;
      color: #000
    }

    .cta .icon {
        position: absolute;
        left: 0;
        top: 0;
        width: 50px;
        height: 50px;
        background: #27A9E0;
        border-radius: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
    }

    .socials-wrapper {
        display: table;
        margin: 30px auto 0;
    }

    .socials {
        display: flex;
        align-items: center;
    }

    .socials .label-box {
        color: #fff;
        font-size: 16px;
        font-family: 'Metropolis-Medium';
        margin-right: 20px;
        margin-top: 4px;
    }

    .socials .items {
        display: flex;
    }
    
    .socials .items a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        background: transparent;
        border-radius: 4px;
        margin: 0 5px;
        text-align: center;
        text-decoration: none;
        transition: 0.3s;
    }

    .socials .items a:hover {
        background: #fff;
    }

    @media (max-width: 1500px) {
      h1 {
        font-size: 38px;
        margin-bottom: 15px;
      }

      .note {
          font-size: 15px;
          margin-bottom: 30px;
      }

      .email-form .email {
          padding: 13px 97px 13px 37px;
          font-size: 18px;
          border-radius: 16px;
      }

      .email-form .button {
        width: 49px;
        height: 49px;
        border-radius: 16px;
      }

      .cta {
        margin-bottom: 2vw;
      }
    }

    @media (max-width: 1023px) {
      .parts {
        display: flex;
        align-items: center;
      }

      .parts .part-left {
        padding-bottom: 20px;
      }

      .socials-wrapper {
        margin-right: 0
      }
      
      .parts .part-left,
      .parts .part-right {
        flex-grow: 1;
        flex-basis: 0;
      }

      .parts .part-left {
        padding-right: 2vw;
      }

      .parts .part-right {
        padding-left: 2vw;
      }

      .parts .part-left .icon-header {
        display: none
      }

      h1 {
          font-size: 4vw;
          margin-bottom: 0;
          text-align: left;
      }

    }

    @media (max-width: 668px) {
      .socials .label-box {
          font-size: 14px;
      }
    }

</style>
