<template>
<div class="page">
  <div class="layout">
        <div class="layout-head">
          <div class="container">
            <appHeader :noLogo="true"></appHeader>
          </div>
        </div>
        <div class="layout-content">
          <div class="container">
            <div class="header">Opis sprawy.</div>
            <component :key="componentKey" v-bind="props" 
                        :stageNum="stageNum" 
                        :lawCase="lawCase"  
                        :firstStep="isFirstStep()" 
                        :progress="progress()"  
                        @prevVideo="currentStep--" 
                        @nextVideo="currentStep++" 
                        @decreaseStep="currentStep--" 
                        @increaseStep="currentStep++" 
                        @rewindStep="rewindStep" 
                        @nextStep="nextStep" 
                        @prevStep="prevStep()" 
                        @itemsEnded="nextStep" 
                        @summary="displaySummary()" 
                        @backToStart="backToStart()"
                        :lawCaseId="lawCase.id"
                        :is="view"
                        >
            </component>
            <div class="stages-divider" :class="{active : isDeviderStage}">
              <div class="stages-divider-inner">
                <span class="icon icon-paragraph"></span>
                <div class="stage">Etap {{stageNum+1}}/6</div>
                <div class="stage-name">{{titles[stageNum]}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
</template>

<script>

import Header from '~/components/Header';
import Case from '~/components/LawCase';
import LawCase from '~/components/LawCase';
import Video from '~/components/Video';
import Questionnaire from '~/components/Questionnaire';
import PenaltyProposal from '~/components/PenaltyProposal';
import CompareVerdict from '~/components/CompareVerdict';
import ResultsSummary from '~/components/ResultsSummary';
import axios from 'axios'

var vote = {
  uniqueUserId: '',
  email: '',
  votes: []
};

export default {
  components: {
    'appHeader': Header,
    'appLawCase': LawCase,
    'appVideo' : Video,
    'appQuestionnaire': Questionnaire,
    'appPenaltyProposal': PenaltyProposal,
    'appCompareVerdict': CompareVerdict,
    'appResultsSummary': ResultsSummary,
  },
  data () {
    return {
      view: 'appLawCase',
      step: -1,
      stageNum: 0,
      currentStep: 0,
      backToLastVideo: false,
      endVideo: ['HSh6YblNBS0'],
      stepVideos: '',
      stepQuestions: '',
      penaltyProposals: '',
      statVerdict: '',
      verdict: '',
      proposalsId: '',
      componentKey: 0,
      isEndVideo: false,
      isDeviderStage: false,
      isRrewind: false,
    }
  },
  head: {
    bodyAttrs: {
      class: 'single-case-page'
    }
  },
  props: {},
    computed: {
      titles(){
        if (this.lawCase.id == 9 || this.lawCase.id == 10) {
          return ['Wstęp i okoliczności sprawy', 'Przebieg postępowania sądowego', 'Słowo komentarza', 'Propozycja orzeczenia', 'Decyzja sądu', 'Uzasadnienie']
        } else {
          return ['Fakty dotyczące przestępstwa', 'Zarzuty i wyjaśnienia oskarżonego', 'Wyjaśnienia końcowe', 'Propozycja wymiaru kary', 'Wyrok', 'Uzasadnienie']
        }
      },
      props() {
        if (this.view == 'appVideo') {
          return {
            videos: this.stepVideos,
            backToLastVideo: this.backToLastVideo,
            isEndVideo: this.isEndVideo
          }
        };

        if (this.view == 'appCompareVerdict') {
          return {
            penaltyProposalId: this.penaltyProposalId,
            verdict: this.verdict,
            backToLastVideo: this.isRrewind,
            penaltyProposals: this.penaltyProposals,
            proposalsId: this.proposalsId
          }
        };

        if (this.view == 'appPenaltyProposal') {
          return {
            penaltyProposals: this.penaltyProposals,
            backToLastVideo: this.isRrewind,
          }
        };

        if (this.view == 'appQuestionnaire') {
          return {
            stepQuestions: this.stepQuestions
          }
        }

        if (this.view == 'appResultsSummary') {
          return {
            collectedAnswers: vote,
            statVerdict: this.statVerdict,
            penaltyProposals: this.penaltyProposals,
          }
        }
      }
    },
    methods: {

      isFirstStep(){
        if (this.currentStep == 1) {
          return true
        } else {
          return false
        }
      },

      backToStart(){
        this.step--;
        this.currentStep--;
        this.view = 'appLawCase';
      },

      progress() {

        let allStages = this.lawCaseSteps.stages;
        let allSteps = 0;

        for (var i = 0; i < allStages.length; i++) {

          for (var y = 0; y < allStages[i].steps.length; y++) {

            if (allStages[i].steps[y].ytID.length == 1) {
               allSteps += 1
            } else if (allStages[i].steps[y].ytID.length > 1) {
               allSteps += allStages[i].steps[y].ytID.length
            }else if (allStages[i].steps[y].penaltyProposal.length > 1) {
               allSteps += allStages[i].steps[y].penaltyProposal.length
            }else if (allStages[i].steps[y].verdict.length > 1) {
               allSteps += allStages[i].steps[y].verdict.length
            } else {
              allSteps += 1
            }
          }

        }

        return parseInt((this.currentStep/(allSteps+2))*100);

      },

      rewindStep(data){

        this.isRrewind = true;


        if (data.backToEndVideo) {
          this.view = 'appVideo';
        } else  {
          let backFromQuestionnaire = false;
          if (data) {
            backFromQuestionnaire = true
          };

          this.prevStep(backFromQuestionnaire)
        }
      },

      displaySummary() {
        this.view = 'appResultsSummary';
      },

       prevStep(backFromQuestionnaire) {

         this.isEndVideo = false;

        var delay;

        this.currentStep--;


        if (backFromQuestionnaire) {
          this.backToLastVideo = true;
          
        }else {
          this.backToLastVideo = false
        }


        if (this.step < 1) {
          this.stageNum--;
          var stepsLength = this.lawCaseSteps.stages[this.stageNum].steps.length;

            this.step = stepsLength-1;
            
            this.isDeviderStage = true;
            delay = 2000
          } else {
            this.step--;
            
            delay = 0;
          }

        if (this.stageNum == 6) { 

          this.stepVideos = this.endVideo;
          this.isEndVideo = true;
          this.view = 'appVideo';
        }

        var currentStep = this.lawCaseSteps.stages[this.stageNum].steps[this.step];

        var kindStep = this.checkStepKind(currentStep);

        var self = this;

        setTimeout(function(){
          self.launchStep(kindStep, currentStep)
        }, delay)

      },

      nextStep(data) {

        this.isRrewind = false;

        var delay;

        if(data) {

          if (data.proposalsId) {
            this.proposalsId = data.proposalsId;
          }

          if (data.answers) {
            vote.votes.push(data.answers)
          }

          if (data[0] == 'questionnaire') {
            vote.votes.push(data[1]);
          }
        }

        this.step++;

        this.currentStep++;

        if (this.currentStep == 1) {

          function create_UUID(){
                var dt = new Date().getTime();
                var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
                    var r = (dt + Math.random()*16)%16 | 0;
                    dt = Math.floor(dt/16);
                    return (c=='x' ? r :(r&0x3|0x8)).toString(16);
                });
                return uuid;
            }

            vote.uniqueUserId = create_UUID()
            vote.votes = [];
        }

        this.backToLastVideo = false //reset back settings

        var stepsLength = this.lawCaseSteps.stages[this.stageNum].steps.length;

        console.log(this.step + ' , ' +stepsLength)

        if (this.step == stepsLength) {
          this.step = 0;
          this.stageNum++;
          this.isDeviderStage = true;
          delay = 2000
        } else {
          delay = 0;
        }

        if (this.stageNum == 0 && this.step == 0) {
          this.isDeviderStage = true;
          delay = 2000;
        }

        if (this.stageNum == 6) {
          this.isDeviderStage = false;
        }


        if (this.stageNum == 6) { 

          this.stepVideos = this.endVideo;
          this.isEndVideo = true;
          this.view = 'appVideo';
        } else {


          this.isEndVideo = false;

          var currentStep = this.lawCaseSteps.stages[this.stageNum].steps[this.step];

          var kindStep = this.checkStepKind(currentStep);

          var self = this;

          setTimeout(function(){
            self.launchStep(kindStep, currentStep)
          }, delay)
        }

      },
      checkStepKind(step) {
        if(step.ytID.length > 0) {
          return "video";
        }
        if(step.questions.length > 0) {

          return 'appQuestionnaire'
        }
        if(step.penaltyProposal.length > 0) {
          return 'appPenaltyProposal'
        }
        if(step.verdict.length > 0) {
          return 'appCompareVerdict'
        }
      },
      launchStep(kind, currentStep){

        if (kind == 'video') {
          this.forceRerender()

          let vidIDs = [];

          //get all videos in step
          for (const videoId in currentStep.ytID) {
            vidIDs.push(currentStep.ytID[videoId].value)
          }

          this.stepVideos = vidIDs;
          this.view = 'appVideo';

        };

        if (kind == 'appQuestionnaire') {

          this.stepQuestions = currentStep.questions;
          this.view = 'appQuestionnaire';
          
        };

        if (kind == 'appPenaltyProposal') {

          let penaltyProposals = [];
          let statisticsId = [];
          let apiLinks = [];
          let apiRequests = [];

          //get all penalty proposals in step
          for (const penaltyProposal in currentStep.penaltyProposal) {
            penaltyProposals.push(currentStep.penaltyProposal[penaltyProposal])
            statisticsId.push(currentStep.penaltyProposal[penaltyProposal].id)
          };

          for (let i=0;i < statisticsId.length; i++) {
            apiLinks.push(process.env.apiUrl + '/statisticsVerdict/' + statisticsId[i]);
            apiRequests.push(axios.get(apiLinks[i]));
          };

            axios
              .all(apiRequests)
              .then(
                axios.spread((...responses) => {

                  let results = [];

                  for (let i=0;i < responses.length; i++) {
                    results.push(responses[i].data)
                  }

                  this.statVerdict = results
                })
              )
              .catch(errors => {
                // react on errors.
                console.error(errors);
              });

          //this.statVerdict = 
          this.penaltyProposals = penaltyProposals;
          this.view = 'appPenaltyProposal';
        };

        if (kind == 'appCompareVerdict') {
          
          this.verdict = currentStep.verdict;
          this.view = 'appCompareVerdict';
        };

        var self = this;

        setTimeout(function(){
          if (self.isDeviderStage == true) {
            self.isDeviderStage = false;
          }
        },800)

      },
      forceRerender() {
        this.componentKey += 1;  
      }

    },
    async asyncData(context) {
    
        let lawCase = await context.app.$axios.$get(process.env.apiUrl + '/lawCases/' + context.route.params.id);
        let lawCaseSteps = await context.app.$axios.$get(process.env.apiUrl + '/lawCasesSteps/' + context.route.params.id + '/');

        return {
            lawCase: lawCase,
            lawCaseSteps: lawCaseSteps,
        }

    },
    mounted(){
      
    }

}


</script>

<style scoped>

.header {
  color: #fff;
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 0;
  text-align: center;
}

.stages-divider {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(165.22deg, #1851CC 0%, #000000 100%);
  z-index: 11;
  display: none;
}

.stages-divider.active {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.stages-divider .stages-divider-inner {
  opacity: 0;
}

@keyframes fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.stages-divider.active .stages-divider-inner {
  animation: fadein 1s 0.5s forwards;
}

.stages-divider .icon {
  display: block;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  width: 70px;
  height: 70px;
  border: 1px solid #27a9e0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 52px;
}

.stages-divider .stage {
  width: 100%;
  text-align: center;
  color: #27a9e0;
  font-size: 20px;
  font-family: 'AvenirLTStd-Black';
  text-transform: uppercase;
  margin-bottom: 10px;
}

.stages-divider .stage-name {
  font-size: 36px;
  color: #fff;
  font-weight: 700;
}

.icon:before {
  color: #27a9e0;
  font-size: 36px;
}

@media (max-width: 1023px) {
  .header {
    font-size: 24px;
    position: absolute;
    left: 50%;
    top: 0;
    margin-top: 14px;
    transform: translateX(-50%);
  }

  .stages-divider .icon {
    margin-bottom: 4vw;
  }

  .stages-divider .stage {
    font-size: 2.5vw;
    margin-bottom: 1vw;
  }

  .stages-divider .stage-name {
    font-size: 3.5vw;
  }
}

</style>
